<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset="shift_jis">
<title>{{lang.FILEUP_CONTRACT_PAGE_HEADER|safe}}</title>
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="format-detection" content="telephone=no">
<meta name="robots" content="index,follow">

<meta name="viewport" content="width=device-width">
<link rel="stylesheet" type="text/css" href="/css/styles_sp.css?{{version}}" media="screen and (max-width:640px)">
<link rel="stylesheet" type="text/css" href="/css/styles_pc.css?{{version}}" media="screen and (min-width:641px),print">

</head>
<body>

<div id="header">
<div class="cInner cf">
<h1 id="logo"><img src="/images/x/logo.png" class="img100" alt="Sateraito Office"></h1>
</div>
</div>

<div id="bggray">
<div class="cInner cf">
<h2 class="Title">{{lang.FILEUP_CONTRACT_PAGE_HEADER}}</h2>
<div class="btn_clause"><a href="https://docs.google.com/document/d/1Pu8mbDiH-3MiUuXO-GeZTuaMlxXo54WDbM1SUg1LZRU" target="_blank" >{{lang.VMSG_POLICY}}</a></div>
</div>
</div>

<div id="content">
<div class="cInner">

<p class="thanksTxt">{{lang.THANK1}}</br>{{lang.THANK2}}</p>

<div class="bigBtn2">
<ul class="cf">
<li class="confirm"><a href="{{tenant_top_url}}">{{lang.VMSG_TO_DASHBOARD}}</a></li></ul>
</div>

</div>
</div><!-- //#content-->

<div id="bggray">
<div class="cInner cf">
<p>{{lang.EXP_FILEUP_CONTRACT_REQUEST}}</p>
</div>
</div>
<p id="footer">Copyright &copy; All rights reserved by Sateraito Office, Inc.</p>

</body>
</html>