<!DOCTYPE html>
<html>
<head>
{% include "./include/headparts_bing.html" %}
<!-- <title>{{lang.VMSG_SITE_TITLE_ERROR}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
<title>{{lang.VMSG_SITE_TITLE_ERROR}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
{% include "./include/external_analysis_head.html" %}
</head>
<body>
<div id="wrapper">

<div id="mypagebox" >
<h2><em><span class="ttl">{{lang.VMSG_MSG_ERROR}}</span>
<span class="info"></span></em></h2>

<p class="attention2">
{% if error_info %}
{{ error_info }}
{% endif %}
</p>
<script type="text/javascript" >
if(history.length > 1){
	document.write('<a href="JavaScript:history.back(-1);" class="btn_left" >{{lang.VMSG_BACK}}</a>');
}
//-->
</script>
</div><!-- /#mypagebox end -->

{% include "./include/footer_bing.html" %}
</div><!-- /#wrapper end -->
</body>
</html>
