<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
{% include "./include/headparts.html" %}
{% include "./include/headparts2.html" %}
<script type="text/javascript" src="{{vscripturl}}ucfext_config.js?{{version}}"  charset="utf-8"></script>
<script type="text/javascript" src="/ext/ux/fileuploadfield/FileUploadField.js" ></script>
<link rel="stylesheet" type="text/css" href="/ext/ux/fileuploadfield/css/FileUploadField.css" />
<script type="text/javascript" src="{{vscripturl}}ucfext.file.js?{{version}}" ></script>
<script type="text/javascript" src="{{vscripturl}}ucfext_operator.js?{{version}}" ></script>
<script type="text/javascript" src="{{vscripturl|safe}}ucfext_lineworks.js?{{version|safe}}" ></script>

<!-- <title>{{lang.VMSG_SITE_TITLE_DASHBOARD}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
<title>{{lang.VMSG_SITE_TITLE_DASHBOARD}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
<style>
	.channel_panel p {
		font-size: 100%;
	}

	.channel_panel table td {
		font-size: 100%;
		padding: 2px;
	}

	.DispBox2 ul{
		font-size: 100%;
	}

	.DispBox2 ul.sub li.content{
		min-width: 305px;
		font-size: 14px;
	}

	.DispBox2 ul.sub li.link{
		margin-left: 10px;
		font-size: 13px;
	}

	.sub_main_title{
		cursor: pointer;
		color: rgb(0, 92, 156);
		font-weight: bold;
	}

	#operator_is_allow_offline{
		margin-bottom: 5px;
	}

	.th_title{
		font-size: 13px !important;
		padding-left: 15px !important;
		text-align: left !important;
		width: 190px;
	}

	.x-form-text, textarea.x-form-field{
		background-image: none !important;
	}

	#FIELD_operator_mode .x-form-cb-label{
		top: 4px !important;
		font-size: 12px !important;
	}

    .x-grid3-cell{
        vertical-align: middle !important;
		padding: 3px 0px !important;
	}

</style>
<script type="text/javascript" >

var _language_list = [];
Ext.each(jQuery.parseJSON('{{language_list|escapejs}}'), function(item){
	_language_list.push([item[0],item[1]]);
});

Ext.ucf.delegateCheckValidation = function(ele)
{
}

var tenant_id = '{{ tenant_id }}';

// frmEditに属する画面コンポーネント
var lstCmpFrmEdit = [];

//////////////////////////////////////////////////
// 画面自体の編集をリセット
//////////////////////////////////////////////////
function field_reset()
{
	Ext.ucf.resetComponents(lstCmpFrmEdit);
}

</script>

<script type="text/javascript" >

//////////////////////////////////////////////////
// 更新(POST)
//////////////////////////////////////////////////
function update()
{
	var mask;
	var handleAfterProcess = function(response){
		if (response.responseText != undefined && response.responseText != '') {
			var jsondata = eval('(' + response.responseText + ')');
			var code = jsondata.code;
			if (code == 0) {
				// 正常時処理
				Ext.ucf.dispUpdateMsgByReturnCode(code, jsondata.msg);
				// VCメッセージクリア
				Ext.each(lstCmpFrmEdit, function(ele){ele.clearInvalid();});

			}
			else if(code == 100) {
				var message = '';
				for (data in jsondata.vcmsg)
				{
					message += jsondata.vcmsg[data] + '<br/>';
					var ele = Ext.getCmp(data);
					if(ele != undefined){
						ele.preVCMessage = jsondata.vcmsg[data];
						ele.markInvalid(jsondata.vcmsg[data]);
					}
				}
				Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', message);
			}
			else {
				if (jsondata.msg == '')
				{
					Ext.ucf.dispSysErrMsg();
				}
				else{
					Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', jsondata.msg);
				}
				mask.hide();
				return;
			}
		}
		else
		{
			Ext.ucf.dispSysErrMsg();
		}
		mask.hide();
		return;
	}

	var params = {
		contact_mail_address:Ext.ucf.getElementValue('contact_mail_address')
//		,auto_redirect_url:Ext.ucf.getElementValue('auto_redirect_url')
//		,auto_redirect_url_action_type:Ext.ucf.getElementValue('auto_redirect_url_action_type')
		,language:Ext.ucf.getElementValue('language')
		,username_disp_type:Ext.ucf.getElementValue('username_disp_type')
		,timezone:Ext.ucf.getElementValue('timezone')
		,file_encoding:Ext.ucf.getElementValue('file_encoding')
{% if not FREE_MODE: -%}
		,is_disp_login_custom_logo:Ext.ucf.getElementValue('is_disp_login_custom_logo')
		,login_message:Ext.ucf.getElementValue('login_message')
		,login_fontcolor:Ext.ucf.getElementValue('login_fontcolor')
		,login_linkcolor:Ext.ucf.getElementValue('login_linkcolor')
		,login_vccolor:Ext.ucf.getElementValue('login_vccolor')
		,login_messagecolor:Ext.ucf.getElementValue('login_messagecolor')
		,login_fontcolor_sp:Ext.ucf.getElementValue('login_fontcolor_sp')
		,login_linkcolor_sp:Ext.ucf.getElementValue('login_linkcolor_sp')
		,login_vccolor_sp:Ext.ucf.getElementValue('login_vccolor_sp')
		,login_messagecolor_sp:Ext.ucf.getElementValue('login_messagecolor_sp')
{%- endif %}
		,login_autocomplete_type:Ext.ucf.getElementValue('login_autocomplete_type')
		,is_disp_login_language_combobox:Ext.ucf.getElementValue('is_disp_login_language_combobox')
		,hide_regist_sub_mail_address_link_flag:Ext.ucf.getElementValue('hide_regist_sub_mail_address_link_flag')
	};

	// マスクをかける
	
	mask = new Ext.LoadMask(Ext.get('contentsArea'), {msg:'{{lang.VMSG_MSG_UPDATING}}'});	
	mask.show();
	// AJAXコール
  Ext.Ajax.request({ 
    url: '{{vurl}}config/xtupdate',
    method: "POST", 
    params: params, 
    success: handleAfterProcess, 
    failure: handleAfterProcess
  }); 
}

function changeDispBox(tp, id)
{
	var fld_disp = document.getElementById('DispBox_' + id);
	var fld_edit = document.getElementById('EditBox_' + id);
	var fld_update_flag = document.getElementById(id + '_update_flag');

	if(tp && tp == true)
	{
		fld_disp.style.display = 'none';
		fld_edit.style.display = 'inline';
		fld_update_flag.value = 'UPDATE';
	}
	else
	{
		fld_disp.style.display = 'inline';
		fld_edit.style.display = 'none';
		fld_update_flag.value = '';
	}	
	
}


// 各フィールドを設定
function createFields()
{
	// 基本設定
	// 連絡先メールアドレス
	var field_contact_mail_address = Ext.ucf.field.createTextField2('contact_mail_address', 'contact_mail_address', '{{dept.contact_mail_address|escapejs}}', '{{lang.VMSG_CONTACT_MAILADDRESS}}', 300, Ext.ucf.delegateCheckValidation);
	field_contact_mail_address.render('FIELD_contact_mail_address');
	lstCmpFrmEdit.push(field_contact_mail_address);
	// 言語
	var field_language = Ext.ucf.field.createComboBox('', 'language', _language_list, '{{dept.language|escapejs}}', '{{lang.VMSG_LANGUAGE}}', 200, Ext.ucf.delegateCheckValidation);
	field_language.render('FIELD_language');
	lstCmpFrmEdit.push(field_language);
	// ユーザ名表示タイプ
	var field_username_disp_type = Ext.ucf.field.createComboBox('', 'username_disp_type', [['', '{{lang.VALUE_USERNAME_DISPTYPE_DEFAULT}}'], ['ENGLISH', '{{lang.VALUE_USERNAME_DISPTYPE_ENGLISH}}']], '{{dept.username_disp_type|escapejs}}', '{{lang.VMSG_USERNAME_DISPTYPE}}', 150, Ext.ucf.delegateCheckValidation);
	field_username_disp_type.render('FIELD_username_disp_type');
	lstCmpFrmEdit.push(field_username_disp_type);
	// タイムゾーン
	var field_timezone = Ext.ucf.field.createComboBox('', 'timezone', Ext.ucf.TimeZoneList, '{{dept.timezone|escapejs}}', '{{lang.VMSG_TIMEZONE}}', 450, Ext.ucf.delegateCheckValidation);
	field_timezone.render('FIELD_timezone');
	lstCmpFrmEdit.push(field_timezone);
	// ファイルエンコード
	var field_file_encoding = Ext.ucf.field.createComboBox('', 'file_encoding', Ext.ucf.FileEncodingList, '{{dept.file_encoding|escapejs}}', '{{lang.VMSG_FILEENCODING}}', 150, Ext.ucf.delegateCheckValidation);
	field_file_encoding.render('FIELD_file_encoding');
	lstCmpFrmEdit.push(field_file_encoding);

	// ログインページ設定
{% if not FREE_MODE: -%}
	// カスタムロゴを表示
	var field_is_disp_login_custom_logo = Ext.ucf.field.createCheckBox('is_disp_login_custom_logo', 'is_disp_login_custom_logo', {% if dept.is_disp_login_custom_logo == 'ACTIVE' %}true{% else %}false{% endif %}, 'ACTIVE', '{{lang.VMSG_IS_DISP_LOGIN_CUSTOM_LOGO}}', Ext.ucf.delegateCheckValidation);
	field_is_disp_login_custom_logo.render('FIELD_is_disp_login_custom_logo');
	lstCmpFrmEdit.push(field_is_disp_login_custom_logo);
	// メッセージ
	var field_login_message = Ext.ucf.field.createTextAreaField('login_message', 'login_message', '{{dept.login_message|escapejs}}', '{{lang.VMSG_LOGINPAGE_MESSAGE}}', '500px', '85px', Ext.ucf.delegateCheckValidation);
	field_login_message.render('FIELD_login_message');
	lstCmpFrmEdit.push(field_login_message);
	// フォントカラー
	var field_login_fontcolor = Ext.ucf.field.createTextField2('login_fontcolor', 'login_fontcolor', '{{dept.login_fontcolor|escapejs}}', '{{lang.VMSG_LOGINPAGE_FONTCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_fontcolor.render('FIELD_login_fontcolor');
	lstCmpFrmEdit.push(field_login_fontcolor);
	// リンクカラー
	var field_login_linkcolor = Ext.ucf.field.createTextField2('login_linkcolor', 'login_linkcolor', '{{dept.login_linkcolor|escapejs}}', '{{lang.VMSG_LOGINPAGE_LINKCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_linkcolor.render('FIELD_login_linkcolor');
	lstCmpFrmEdit.push(field_login_linkcolor);
	// VCカラー
	var field_login_vccolor = Ext.ucf.field.createTextField2('login_vccolor', 'login_vccolor', '{{dept.login_vccolor|escapejs}}', '{{lang.VMSG_LOGINPAGE_VCCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_vccolor.render('FIELD_login_vccolor');
	lstCmpFrmEdit.push(field_login_vccolor);
	// メッセージカラー
	var field_login_messagecolor = Ext.ucf.field.createTextField2('login_messagecolor', 'login_messagecolor', '{{dept.login_messagecolor|escapejs}}', '{{lang.VMSG_LOGINPAGE_MESSAGECOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_messagecolor.render('FIELD_login_messagecolor');
	lstCmpFrmEdit.push(field_login_messagecolor);

	// フォントカラー（スマートフォン）
	var field_login_fontcolor_sp = Ext.ucf.field.createTextField2('login_fontcolor_sp', 'login_fontcolor_sp', '{{dept.login_fontcolor_sp|escapejs}}', '{{lang.VMSG_LOGINPAGE_FONTCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_fontcolor_sp.render('FIELD_login_fontcolor_sp');
	lstCmpFrmEdit.push(field_login_fontcolor_sp);
	// リンクカラー（スマートフォン）
	var field_login_linkcolor_sp = Ext.ucf.field.createTextField2('login_linkcolor_sp', 'login_linkcolor_sp', '{{dept.login_linkcolor_sp|escapejs}}', '{{lang.VMSG_LOGINPAGE_LINKCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_linkcolor_sp.render('FIELD_login_linkcolor_sp');
	lstCmpFrmEdit.push(field_login_linkcolor_sp);
	// VCカラー（スマートフォン）
	var field_login_vccolor_sp = Ext.ucf.field.createTextField2('login_vccolor_sp', 'login_vccolor_sp', '{{dept.login_vccolor_sp|escapejs}}', '{{lang.VMSG_LOGINPAGE_VCCOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_vccolor_sp.render('FIELD_login_vccolor_sp');
	lstCmpFrmEdit.push(field_login_vccolor_sp);
	// メッセージカラー（スマートフォン）
	var field_login_messagecolor_sp = Ext.ucf.field.createTextField2('login_messagecolor_sp', 'login_messagecolor_sp', '{{dept.login_messagecolor_sp|escapejs}}', '{{lang.VMSG_LOGINPAGE_MESSAGECOLOR}}', '60', Ext.ucf.delegateCheckValidation);
	field_login_messagecolor_sp.render('FIELD_login_messagecolor_sp');
	lstCmpFrmEdit.push(field_login_messagecolor_sp);

{%- endif %}

	// オートコンプリートタイプ
	var items_login_autocomplete_type = [
		{boxLabel: '{{lang.VALUE_AUTOCOMPLETE_TYPE_ID|escapejs}}', name: 'login_autocomplete_type', inputValue: 'ID'}
		,{boxLabel: '{{lang.VALUE_AUTOCOMPLETE_TYPE_BOTH|escapejs}}', name: 'login_autocomplete_type', inputValue: 'BOTH'}
		,{boxLabel: '{{lang.VALUE_AUTOCOMPLETE_TYPE_NONE|escapejs}}', name: 'login_autocomplete_type', inputValue: ''}
	];
	var field_login_autocomplete_type = Ext.ucf.field.createRadioButtonGroup('grp_login_autocomplete_type', 'grp_login_autocomplete_type', '{{dept.login_autocomplete_type|escapejs}}', '{{lang.VMSG_LOGINPAGE_AUTOCOMPLETE_TYPE}}',  500, items_login_autocomplete_type, null, false, Ext.ucf.delegateCheckValidation);
	field_login_autocomplete_type.render('FIELD_login_autocomplete_type');
	lstCmpFrmEdit.push(field_login_autocomplete_type);

	// 言語選択ボックス表示
	var field_is_disp_login_language_combobox = Ext.ucf.field.createCheckBox('is_disp_login_language_combobox', 'is_disp_login_language_combobox', {% if dept.is_disp_login_language_combobox == 'ACTIVE' %}true{% else %}false{% endif %}, 'ACTIVE', '{{lang.VMSG_IS_DISP_LOGIN_LANGUAGE_COMBOBOX}}', Ext.ucf.delegateCheckValidation);
	field_is_disp_login_language_combobox.render('FIELD_is_disp_login_language_combobox');
	lstCmpFrmEdit.push(field_is_disp_login_language_combobox);

  	//SendGrid API KEY
  	// var field_sendgrid_api_key = Ext.ucf.field.createTextField('send_grid_api_key', 'send_grid_api_key', '{{ucfp.voinfo.vo.send_grid_api_key|escapejs}}', '{{lang.VMSG_SENDGRID_API_KEY}}', 560, Ext.ucf.delegateCheckValidation);
	// field_sendgrid_api_key.render('FIELD_sendgrid_api_key');
	// lstCmpFrmEdit.push(field_sendgrid_api_key);

	var directcloudbox_config = Ext.decode('{{directcloudbox_config.file_server_config}}'.replace(/&#34;/g, '"'));
	if('{{directcloudbox_config.is_saved}}' == 'True'){
		$('input[name=file_server]').each(function(i, obj){
			if($(obj).val() == 'directcloudbox'){
				$(obj).attr('checked', 'checked');
				return;
			};
		});
	}
	else{
		$('input[name=file_server]').each(function(i, obj){
			if($(obj).val() == 'directcloudbox'){
				$(obj).attr('checked', 'checked');
				return;
			};
		});
	}

	// direct cloud box code
	var field_directcloudbox_code = Ext.ucf.field.createTextField2('directcloudbox_code', 'directcloudbox_code', directcloudbox_config?directcloudbox_config.code:'', '', 300, Ext.ucf.delegateCheckValidation);
	field_directcloudbox_code.render('FIELD_directcloudbox_code');
	// direct cloud box id
	var field_directcloudbox_id = Ext.ucf.field.createTextField2('directcloudbox_id', 'directcloudbox_id', directcloudbox_config?directcloudbox_config.uid:'', '', 300, Ext.ucf.delegateCheckValidation);
	field_directcloudbox_id.render('FIELD_directcloudbox_id');
	// direct cloud box password
	var field_directcloudbox_password = Ext.ucf.field.createPasswordField('directcloudbox_password', 'directcloudbox_password', directcloudbox_config?directcloudbox_config.password:'', '', 300, Ext.ucf.delegateCheckValidation);
	field_directcloudbox_password.render('FIELD_directcloudbox_password');
}
</script>

{# // 管理者設定関連（ユーザー管理画面からダッシュボードに移動 #}
<script type="text/javascript" >
		var each_page_cnt = 20;
		var store;
		var storeTemplate;
		function goEditPage(unique_id)
		{
			window.location.href = '{{vurl}}operator/regist?unqid=' + escape(unique_id) + '&{{config.QSTRING_TYPE}}={{config.EDIT_TYPE_RENEW}}';
		}

		function goEditPageTemplate(unique_id){
			window.location.href = '{{vurl}}edit_template?unqid=' + escape(unique_id);
		}
		
		function getSearchBaseParam(scond)
		{
			var start = 0;
			// 検索条件を上書き（画面に反映するためparamsではなく画面項目を上書き）
			if(scond)
			{
				start = parseInt(scond['start'], 0);
				document.getElementsByName('sk_keyword')[0].value = Ext.ucf.nvl(scond['sk_keyword']);
				Ext.getCmp('id_sk_search_type').setValue(Ext.ucf.nvl(scond['sk_search_type']));
			}
		
			var params = {start:start, limit: each_page_cnt
				,sk_search_type:Ext.ucf.getElementValue('sk_search_type')
				,sk_keyword:Ext.ucf.getElementValue('sk_keyword')
			};
			
			return params;
		}
		
		function search(psc)
		{
			Ext.ucf.search(psc, store, getSearchBaseParam, '{{vurl}}xtgetscond?{{config.REQUESTKEY_SESSION_SCID}}={{config.SESSIONKEY_SCOND_OPERATOR_LIST}}');
		}
		function searchTemplate(psc)
		{
			Ext.ucf.search(psc, storeTemplate, getSearchBaseParam, '{{vurl}}xtgetscond?{{config.REQUESTKEY_SESSION_SCID}}={{config.SESSIONKEY_SCOND_OPERATOR_LIST}}');
		}
		

		function vh_operator_id(value, p, record)
		{
			var html = '';
			html += '<a href="{{vurl}}operator/detail?unqid=' + escape(record.get('unique_id')) + '&{{config.QSTRING_TYPE}}={{config.EDIT_TYPE_REFER}}" >' + Ext.ucf.htmlEscape(value) + '</a>';
			return html;
		}
		function vh_filename(value, p, record)
		{
			return record.json.filename;
		}
		function vh_url(value, p, record)
		{
			return record.json.url;
		}
		
		function vh_basic(value, p, record)
		{
			var html = '';
			html += Ext.ucf.htmlEscape(value);
			return html;
		}
		function vh_access_authority(value, p, record)
		{
			var html = '';
			var result = Ext.ucf.acnt.viewHelper('access_authority', value);
			if(result.is_html){
				html = result.value;
			}else{
				html = Ext.ucf.htmlEscape(result.value);
			}
			return html;
		}
		
		function vh_account_stop_flag(value, p, record)
		{
			var disp = '';
			for(i = 0; i < Ext.ucf.acnt.DatAccountStopFlag.length; i++)
			{
				if(Ext.ucf.acnt.DatAccountStopFlag[i][0] == value){
					disp = Ext.ucf.htmlEscape(Ext.ucf.acnt.DatAccountStopFlag[i][1]);
					break;
				}
			}
			var html = '';
			html += disp;
//			html += Ext.ucf.getHiddenHtml('invalid_flag', record.get('unique_id'), value);
			return html;
		}
		
		function vh_login_lock_flag(value, p, record)
		{
			var disp = '';
			for(i = 0; i < Ext.ucf.acnt.DatLoginLockFlag.length; i++)
			{
				if(Ext.ucf.acnt.DatLoginLockFlag[i][0] == value){
					disp = Ext.ucf.htmlEscape(Ext.ucf.acnt.DatLoginLockFlag[i][1]);
					break;
				}
			}
			var html = '';
			html += disp;
//			html += Ext.ucf.getHiddenHtml('invalid_flag', record.get('unique_id'), value);
			return html;
		}

		function vhSave(value, p, record)
		{
			return '<input type="button" value="" class="btnSave" onclick="JavaScript:saveAccountInfo(\'' + value + '\');" />';
		}
		
		function vhEdit(value, p, record)
		{
			return '<input type="button" value="" class="btnEdit" onclick="JavaScript:goEditPage(\'' + value + '\');" />';
		}

		function vhEditTemplate(value, p, record)
		{
			console.log(record.json.unique_id)
			return '<input type="button" value="" class="btnEdit" onclick="JavaScript:goEditPageTemplate(\'' + value + '\');" />';
		}

		function createSearchCondFields()
		{
			var lst_sk_search_type = [];
			lst_sk_search_type.push(['operator_id','{{lang.FLD_OPERATORID|safe|escapejs}}']);
			lst_sk_search_type.push(['fulltext','{{lang.FULLTEXT_SEARCH|safe|escapejs}}']);

			var field_sk_search_type = Ext.ucf.field.createComboBox('id_sk_search_type', 'sk_search_type', lst_sk_search_type, 'operator_id', '{{lang.SEARCH_CONDITION|safe|escapejs}}', 150, null);
			field_sk_search_type.render('FIELD_sk_search_type');
			var field_sk_keyword = Ext.ucf.field.createTextField2('sk_keyword', 'sk_keyword', '', '{{lang.FULLTEXT_SEARCH|safe|escapejs}}', 180, null);
			field_sk_keyword.render('FIELD_sk_keyword');
		}

		// 管理者関連のonReady処理（ユーザー管理一覧から移植）
		function onReadyForSupervisor(){

			createSearchCondFields();
			Ext.ucf.lineworks.checkLineWorksStatus();

			$(document).ready(function(){
				var arrKeyCode = [9, 16, 17, 18];
				$("#open_api_id").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
				$("#consumer_key").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
				$("#server_id").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
				$("#priv_key").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
				$("#domain_id").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
				$("#tenant_id").keyup(function(e){
					if(arrKeyCode.indexOf(e.keyCode) < 0){
						Ext.getCmp('btnLineWorks').disable();
						Ext.ucf.lineworks.checkLineWorksStatus();
					}
				});
			});

			var AccountInfo = Ext.data.Record.create([
				{name: 'unique_id',  type: 'string', mapping: 'unique_id'}
				,{name: 'operator_id',  type: 'string'}
				,{name: 'mail_address',  type: 'string'}
				,{name: 'display_name',  type: 'string'}
				,{name: 'access_authority',  type: 'string'}
				,{name: 'account_stop_flag',  type: 'string'}
				,{name: 'login_lock_flag',  type: 'string'}
			]);
			store = new Ext.data.Store({
				reader: new Ext.data.JsonReader({
					idProperty: 'unique_id'
					,root: 'records'
					,totalProperty: 'all_count'
					}, AccountInfo),
				url: '{{vurl}}operator/xtlist',
				autoDestroy:true
			});
			// Storeのロード後のイベントハンドラを追加
			store.on('load', function(s, records, options) {
				Ext.Ajax.request({url:'{{vurl}}xtsetscond?{{config.REQUESTKEY_SESSION_SCID}}={{config.SESSIONKEY_SCOND_OPERATOR_LIST}}', method:'POST', params:options.params, failure:function(response){Ext.ucf.dispSysErrMsg();}}); 	// 検索条件をセット
			});
			
			var btnReflesh = new Ext.Button({
				iconCls:'reflesh',
				handler:search
			});
				
			var sLimitCB = new Ext.ucf.searchLimitComboBox(
				[each_page_cnt,50,100]
				,{
					'select':function(cb, record, index){
						each_page_cnt = cb.value;
						pagingBar.pageSize = each_page_cnt;
						search();
					}
				});
			each_page_cnt = sLimitCB.value;
		
			var pagingBar = new Ext.PagingToolbar({
				pageSize: each_page_cnt,
				store: store,
				displayInfo: true, 
				displayMsg: _msg.PAGING_BAR,
				emptyMsg: _msg.NO_DISP_DATA,
				items:[
					'->','-',_msg.DISP_COUNT,sLimitCB
				]
			});
			
			var toolBar = new Ext.Toolbar({
				items:[
					btnReflesh
					,'-'
					,{
						text: '{{lang.VMSG_OPERATOR_ADD}}',
						handler: function(){
							(new Ext.LoadMask(Ext.get('contentsArea'),{msg:"{{lang.VMSG_MSG_ACCESSING}}"})).show();
							window.location.href = '{{vurl}}operator/regist?{{config.QSTRING_TYPE}}={{config.EDIT_TYPE_NEW}}';
						}
					},'-']
			});
					
				var sm = new Ext.grid.CheckboxSelectionModel({
				});		
				
				var cm = new Ext.grid.ColumnModel({
		        columns: [
						sm,
						{
		            header: '{{lang.FLD_OPERATORID}}',
		            dataIndex: 'operator_id',
		            width: 180,
		            sortable: false,
								renderer: vh_operator_id
		        },{
		            header: '{{lang.FLD_USERNAME}}',
		            dataIndex: 'display_name',
		            width: 110,
		            //sortable: false,
		            sortable: false,
								renderer: vh_basic
		        },{
		            header: '{{lang.FLD_ACCESS_AUTHORITY}}',
		            dataIndex: 'access_authority',
		            width: 45,
		            sortable: false,
								renderer: vh_access_authority
		        },{
		            header: '{{lang.FLD_ACCOUNTSTOPFLAG}}',
		            dataIndex: 'account_stop_flag',
		            align: 'center',            
		            width: 35,
		            // sortable: false,
		            sortable: false,
					renderer: vh_account_stop_flag
					// editor: Ext.ucf.acnt.CbxActiveFlag
		        },{
		            header: '{{lang.FLD_LOGINLOCKFLAG}}',
		            dataIndex: 'login_lock_flag',
		            align: 'center',
		            width: 35,
		            sortable: false,
					renderer: vh_login_lock_flag
		        },{
		            header: '',
		            dataIndex: 'unique_id',
					hidden: false,
		            width: 20,
					sortable: false,
					align: 'center',
					renderer: vhEdit
		        }
				]
				});
				var grid = new Ext.grid.EditorGridPanel({
		      	store: store,
		     	// width: 600,
		     	region:'center',
				clicksToEdit: 1,
				columnLines:true,
				loadMask:true,
				viewConfig: {forceFit: true},
				// margins: '20 20 20 20',
		      	stripeRows: true,
				bbar: pagingBar,
				tbar: toolBar,
				sm: sm,
				cm: cm
		    });
				// パネルにユーザ一覧グリッドをセット
		    var layout = new Ext.Panel({
				collapsible: true,
				title: '{{lang.VMSG_OPERATOR_LIST}}',
				layout: 'border',
				waitMsgTarget: true,
				monitorResize:true,
				layoutConfig: {
					columns: 1
				},
				height: 300,
				items: [grid]
		    });
		    layout.render(Ext.get('SupervisorGridList'));
			// 検索（ページ遷移初回は前回の条件を使用して検索）
			search(true);		
			
			// 検索ボタンのレイアウト修正
			//検索ボタン	
			var btnSearch = new Ext.Button({
				text:'&nbsp;&nbsp;&nbsp;&nbsp;{{lang.VMSG_SEARCH}}&nbsp;&nbsp;&nbsp;&nbsp;',
				type:'submit',
				handler:search
			});
			btnSearch.render(Ext.get('btnSearch'))
			
			// GridPanelリサイズ処理を追加
			Ext.ucf.appendLeftMenuChangeDelagate(function()
			{
				grid.setWidth(layout.getWidth() - 2);
			});

			var btnRefleshTemplate = new Ext.Button({
				iconCls:'reflesh',
				handler:searchTemplate
			});
			

			//Setup Template
			storeTemplate = new Ext.data.Store({
				reader: new Ext.data.JsonReader({
					idProperty: 'unique_id'
					,root: 'records'
					,totalProperty: 'all_count'
					}, AccountInfo),
				url: '{{vurl}}xlist_template',
				autoDestroy:true
			});
			// Storeのロード後のイベントハンドラを追加
			storeTemplate.on('load', function(s, records, options) {
				Ext.Ajax.request({url:'{{vurl}}xtsetscond?{{config.REQUESTKEY_SESSION_SCID}}={{config.SESSIONKEY_SCOND_OPERATOR_LIST}}', method:'POST', params:options.params, failure:function(response){Ext.ucf.dispSysErrMsg();}}); 	// 検索条件をセット
			});

			var pagingBarTemplate = new Ext.PagingToolbar({
				pageSize: each_page_cnt,
				store: storeTemplate,
				displayInfo: true, 
				displayMsg: _msg.PAGING_BAR,
				emptyMsg: _msg.NO_DISP_DATA,
				items:[
					'->','-',_msg.DISP_COUNT,sLimitCB
				]
			});
			
			var toolBarTemplate = new Ext.Toolbar({
				items:[
					btnRefleshTemplate
					,'-'
					,{
						text: 'Add Template',
						handler: function(){
							(new Ext.LoadMask(Ext.get('contentsArea'),{msg:"{{lang.VMSG_MSG_ACCESSING}}"})).show();
							window.location.href = '{{vurl}}add_template';
						}
					},'-']
			});

			var smTemplate = new Ext.grid.CheckboxSelectionModel({
			});		
			
			var cmTemplate = new Ext.grid.ColumnModel({
			columns: [
					smTemplate,
					{
				header: 'FileName',
				dataIndex: 'filename',
				width: 180,
				sortable: false,
				renderer: vh_filename 
			},
			{
				header: 'URL',
				dataIndex: 'url',
				width: 180,
				sortable: false,
				renderer: vh_url 
			},
			{
				header: '',
				dataIndex: 'unique_id',
				hidden: false,
				width: 20,
				sortable: false,
				align: 'center',
				renderer: vhEditTemplate
			}
			]
			});
			var gridTemplate = new Ext.grid.EditorGridPanel({
				store: storeTemplate,
				// width: 600,
				region:'center',
				clicksToEdit: 1,
				columnLines:true,
				loadMask:true,
				viewConfig: {forceFit: true},
				// margins: '20 20 20 20',
				stripeRows: true,
				bbar: pagingBarTemplate,
				tbar: toolBarTemplate,
				sm: smTemplate,
				cm: cmTemplate
			});

			var setupTemplate = new Ext.Panel({
				collapsible: true,
				title: 'Template',
				layout: 'border',
				waitMsgTarget: true,
				monitorResize:true,
				layoutConfig: {
					columns: 1
				},
				height: 300,
				items: [gridTemplate]
		    });
			setupTemplate.render(Ext.get('SetupTemplateGridList'));
			searchTemplate(true);
		}
</script>

{# // LINE API #}
<script type="text/javascript" >

// 各フィールドを設定
function createFields_LINEWORKSAPI()
{
	var channel_config;
	channel_config_str = $('#frmLineworksEdit').find('input[name=channel_config]').val();
	if(channel_config_str != ''){
		channel_config = Ext.decode(channel_config_str);
	}

	var channel_kind_id = 'lineworksbot';
	// var lineworks_config = '{{lineworks_config}}';
	var webhook_url = '';
	if('{{lineworks_config}}' && '{{lineworks_config.unique_id}}'){
		webhook_url = '{{my_site_url}}/webhook/{{tenant}}/{{lineworks_config.unique_id}}';
	}
	Ext.ucf.lineworks.showConfigPanel(channel_kind_id, {channel_kind:'{{ucfp.voinfo.vo.channel_kind|escapejs}}', channel_config:channel_config, webhook_url:webhook_url,csrf_token:'{{ucfp.data.token|escapejs}}'});
}

function registLineWorksAPI()
{

	var bot_no = $('#bot_no').val();
	var bot_name = $('#input_bot_name').val();
	var bot_description = $('#input_bot_description').val();
	var bot_photourl = $('#input_bot_photourl').val();
	var bot_url = $('#input_bot_url').val();
	var bot_manager = $('#input_bot_manager').val();
	var bot_icon = $('#input_bot_icon').val();

	if(bot_name == '' && bot_description == '' && bot_manager == '' && bot_photourl == '' && bot_icon == ''){}
	else{
		// 入力チェック
		if(bot_name == ''){
			Ext.Msg.show({
					icon: Ext.MessageBox.WARNING,
					title: _msg.WARNING,
					msg: _msg.VC_INVALID_BOT_NAME,
					buttons: Ext.Msg.OK
				});
			return;
		}
		if(bot_description == ''){
			Ext.Msg.show({
					icon: Ext.MessageBox.WARNING,
					title: _msg.WARNING,
					msg: _msg.VC_INVALID_BOT_DESCRIPTION,
					buttons: Ext.Msg.OK
				});
			return;
		}
		if(bot_manager == ''){
			Ext.Msg.show({
					icon: Ext.MessageBox.WARNING,
					title: _msg.WARNING,
					msg: _msg.VC_INVALID_BOT_MANAGER,
					buttons: Ext.Msg.OK
				});
			return;
		}
		if(bot_photourl == ''){
			if(bot_icon == ''){
				Ext.Msg.show({
						icon: Ext.MessageBox.WARNING,
						title: _msg.WARNING,
						msg: _msg.VC_INVALID_BOT_IMAGE,
						buttons: Ext.Msg.OK
					});
				return;
			}
		}
	}
	
	var domain_id = Ext.ucf.getElementValue('domain_id');
	var tenant_id = Ext.ucf.getElementValue('tenant_id');
	if(domain_id != tenant_id){
		Ext.Msg.show({
			icon: Ext.MessageBox.WARNING,
			title: _msg.WARNING,
			msg: _msg.VC_INVALID_DOMAIN_AND_TENANT,
			buttons: Ext.Msg.OK
		});
		return;
	}
	
	var postData = {
		bot_no:bot_no
		,bot_name:bot_name
		,bot_description:bot_description
		,bot_photourl:bot_photourl
		,bot_url:bot_url
		,bot_manager:bot_manager
		,bot_icon:bot_icon
	};

	var edit_type = "";
	if(bot_name == '' && bot_description == '' && bot_manager == '' && bot_photourl == '' && bot_icon == ''){
		edit_type = "none";
	}
	else if(bot_no){
		edit_type = "renew";
	}
	else{
		edit_type = "new";
	}

	
	var channel_config_str = '';
	var channel_config = Ext.ucf.lineworks.createConfigJson();
	if(typeof(channel_config) != 'undefined'){
		channel_config_str = Ext.encode(channel_config);
	}

	postData['edit_type'] = edit_type
	postData['channel_kind'] = 'lineworksbot';
	postData['token'] = $('input[name=token]').val();
	postData['channel_config'] = channel_config_str;
	postData['unique_id'] = $('#frmLineworksEdit').find('input[name=unique_channel_id]').val();

	var mask;
	var handleAfterProcess = function(response){
		if (response.responseText != undefined && response.responseText != '') {
			var jsondata = eval('(' + response.responseText + ')');
			var code = jsondata.code;
			if (code == 0) {
				$('#frmLineworksEdit').find('input[name=unique_channel_id]').val(jsondata.unique_id);
				if(jsondata.bot_no){
					$('#bot_no').val(jsondata.bot_no);
					$('#FIELD_bot_no_area').css('display', '');
					$('#none_bot').css('display', 'none');
				}

				if(jsondata.bot_url){
					$('#input_bot_url').val(jsondata.bot_url);
				}

				Ext.getCmp('domain_id').disable();
				Ext.getCmp('tenant_id').disable();

				// 正常時処理
				Ext.ucf.dispUpdateMsgByReturnCode(code, jsondata.msg);
				// VCメッセージクリア
				Ext.each(lstCmpFrmEdit, function(ele){ele.clearInvalid();});
			}
			else if(code == 100) {
				var message = '';
				for (data in jsondata.vcmsg)
				{
					message += jsondata.vcmsg[data] + '<br/>';
					var ele = Ext.getCmp(data);
					if(ele != undefined){
						ele.preVCMessage = jsondata.vcmsg[data];
						ele.markInvalid(jsondata.vcmsg[data]);
					}
				}
				Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', message);
			}
			else {
				if (jsondata.msg == '')
				{
					Ext.ucf.dispSysErrMsg();
				}
				else{
					Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', jsondata.msg);
				}
				mask.hide();
				return;
			}
		}
		else
		{
			Ext.ucf.dispSysErrMsg();
		}
		mask.hide();
		return;
	}

	mask = new Ext.LoadMask(Ext.get('contentsArea'), {msg:'{{lang.VMSG_MSG_UPDATING}}'});	
	mask.show();

    Ext.Ajax.request({
        url: '{{vurl|safe}}lineworksbot/xtregist',
        method: "POST",
        params: postData,
		success: handleAfterProcess, 
		failure: handleAfterProcess
    });
}

function saveDirectCloudBox()
{

	var code = $('#directcloudbox_code').val();
	var uid = $('#directcloudbox_id').val();
	var password = $('#directcloudbox_password').val();

	// 入力チェック
	if(code == ''){
		Ext.Msg.show({
			icon: Ext.MessageBox.WARNING,
			title: _msg.WARNING,
			msg: _msg.VC_INVALID_DIRECTCLOUDBOX_CODE,
			buttons: Ext.Msg.OK
		});
		return;
	}
	if(uid == ''){
		Ext.Msg.show({
			icon: Ext.MessageBox.WARNING,
			title: _msg.WARNING,
			msg: _msg.VC_INVALID_DIRECTCLOUDBOX_ID,
			buttons: Ext.Msg.OK
		});
		return;
	}
	if(password == ''){
		Ext.Msg.show({
			icon: Ext.MessageBox.WARNING,
			title: _msg.WARNING,
			msg: _msg.VC_INVALID_DIRECTCLOUDBOX_PASSWORD,
			buttons: Ext.Msg.OK
		});
		return;
	}
	
	var postData = {
		code: code
		,uid: uid
		,password: password
		,platform: 'directcloudbox'
	};
	postData['unique_id'] = $('#frmDirectCloudBoxEdit').find('input#directcloudbox_unique_id').val();

	if($('input[name=file_server]:checked').val() == 'directcloudbox'){
		postData['is_saved'] = '1';
	}
	else{
		postData['is_saved'] = '0';
	}

	var mask;
	var handleAfterProcess = function(response){
		if (response.responseText != undefined && response.responseText != '') {
			var jsondata = eval('(' + response.responseText + ')');
			var code = jsondata.code;
			if (code == 0) {
				$('#frmDirectCloudBoxEdit').find('input#directcloudbox_unique_id').val(jsondata.unique_id);

				// 正常時処理
				Ext.ucf.dispUpdateMsgByReturnCode(code, jsondata.msg);
				// VCメッセージクリア
				Ext.each(lstCmpFrmEdit, function(ele){ele.clearInvalid();});
			}
			else if(code == 100) {
				var message = '';
				for (data in jsondata.vcmsg)
				{
					message += jsondata.vcmsg[data] + '<br/>';
					var ele = Ext.getCmp(data);
					if(ele != undefined){
						ele.preVCMessage = jsondata.vcmsg[data];
						ele.markInvalid(jsondata.vcmsg[data]);
					}
				}
				Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', message);
			}
			else {
				if (jsondata.msg == '')
				{
					Ext.ucf.dispSysErrMsg();
				}
				else{
					Ext.ucf.flowMsg('{{lang.VMSG_MSG_ERROR}}', jsondata.msg);
				}
				mask.hide();
				return;
			}
		}
		else
		{
			Ext.ucf.dispSysErrMsg();
		}
		mask.hide();
		return;
	}

	mask = new Ext.LoadMask(Ext.get('contentsArea'), {msg:'{{lang.VMSG_MSG_UPDATING}}'});	
	mask.show();

    Ext.Ajax.request({
        url: '{{vurl|safe}}fileserver/xtregist',
        method: "POST",
        params: postData,
		success: handleAfterProcess, 
		failure: handleAfterProcess
    });
}

</script>

<script type="text/javascript" >

Ext.onReady(function(){
	Ext.QuickTips.init();
	Ext.ucf.init();
	
	createFields();
	// createFields_LINEAPI();
	createFields_LINEWORKSAPI();

	var btnUpdate = new Ext.Button({
		text:'&nbsp;&nbsp;&nbsp;&nbsp;{{lang.VMSG_SAVE}}&nbsp;&nbsp;&nbsp;&nbsp;',
		handler:function(){
			// registLineAPI();
			update();
		}
	});
	btnUpdate.render(Ext.get('btnUpdate'));
	
	var btnReset = new Ext.Button({
		text:'&nbsp;&nbsp;&nbsp;&nbsp;{{lang.VMSG_RESET}}&nbsp;&nbsp;&nbsp;&nbsp;',
		handler:function(){
			field_reset();
		}
	});
	btnReset.render(Ext.get('btnReset'));

	// lineworks
	var btnLineWorksUpdate = new Ext.Button({
		text:'&nbsp;&nbsp;&nbsp;&nbsp;{{lang.BTN_LINEWORKS_UPDATE}}&nbsp;&nbsp;&nbsp;&nbsp;',
		id: 'btnLineWorks',
		handler:function(){
			// Ext.ucf.loginfo.updateLineworksLog();
			registLineWorksAPI();
		}
	});
	btnLineWorksUpdate.render(Ext.get('btnLineWorksUpdate'));

	// direct cloud box
	var btnDirectCloudBox = new Ext.Button({
		text:'&nbsp;&nbsp;&nbsp;&nbsp;{{lang.BTN_DIRECTCLOUDBOX_UPDATE}}&nbsp;&nbsp;&nbsp;&nbsp;',
		handler:function(){
			saveDirectCloudBox();
		}
	});
	btnDirectCloudBox.render(Ext.get('btnDirectCloudBox'));

	onReadyForSupervisor();// 管理者関連処理

	// 各セクションの開閉状態の初期化（設定によるものではなくユーザーが開閉を選択するもの）※予期せぬ動作不備を避けるため一番最後に行う
	Ext.ucf.initShowOrHideSections();

});

</script>
{% include "./include/external_analysis_head.html" %}
</head>
<body>
<!-- contentsArea//start -->
<div id="contentsArea">
{% include "./include/header.html" %}
<!-- mainArea//start -->
<div id="mainArea" class="{{leftmenu_class}}">
{% include "./include/index_leftmenu.html" %}
<!-- rightArea//start -->
<div id="rightArea">
{% include "./include/attention.html" %}
{% include "./include/explain.html" %}

<!-- rightArea contentsL//start -->
<div class="contentsL">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<!-- rightArea innerArea//start -->
<div class="innerArea01">
<span class="span_icon"><img src="/images/icons/setting_32.png"></span>
<p class="ttl">{{lang.VMSG_TENANTO_CONFIG}}</p>
<table class="detail_layout">
	<tr>
		<td class="layout_td layout_td_all" >
		<div class="main_content_title"><a name="BASIC">{{lang.VMSG_CONTRACT_CONFIG}}</a></div>
		<table class="info_table">
			<tr>
				<th>{{lang.VMSG_CONTACT_STATUS}}&nbsp;:</th>
				<td>
					{% if is_canceled: %}
					<p style="color:red;">{{lang.VMSG_CANCELED_CONTRACT|safe}}　( {{lang.MSG_CONTACT_TERM_EXPIRE}}：{{cancel_date}} ) </p>
					{% else: %}
					{% if is_free_mode: %}
					<p>{{lang.MSG_CONTACT_STATUS_FREE}}　( {{lang.MSG_CONTACT_TERM_EXPIRE}}：{{cancel_date}} ) </p>
					{% else: %}
					<p>{{lang.MSG_CONTACT_STATUS_BILLING}}　( {{lang.MSG_CONTACT_TERM}}：{{charge_start_date}}&nbsp;～&nbsp;{% if cancel_date != '': %}{{cancel_date}}{% endif %}) </p>
					{% endif %}
					{% endif %}
				</td>
			</tr>
			{# // サテライトの場合は契約管理から正確なライセンス数が連携されないのでライセンス数は表示しない 2017.11.21 #}
			{% if oem_company_code not in ['sateraito']: %}
				{% if not is_canceled: %}
				<tr>
					<th>{{lang.VMSG_CONTACT_LICENSE_INFO}}&nbsp;:</th>
					<td>
					{% if not is_free_mode: %}
					<p>	{{lang.MSG_CONTACT_LICENSE_MAX_AMOUNT}}：{% if available_users >= 0: %}{{available_users}}{% else: %}－{% endif %}　 {{lang.MSG_CONTACT_LICENSE_USE_AMOUNT}}：{{active_users}}
					{% if is_disp_error_about_license: %}
					<br/><span style="color:red;">{{lang.VMSG_ERROR_ABOUT_LICENSE|safe}}</span>
					{% endif %}
					{% if is_disp_warning_about_license: %}
					<br/><span style="color:red;">{{lang.VMSG_WARNING_ABOUT_LICENSE|safe}}</span>
					{% endif %}
					</p>
					{% else: %}
					<p>	{{lang.MSG_CONTACT_LICENSE_USE_AMOUNT}}：{{active_users}}&nbsp;/&nbsp;{{available_users}}</p>
					{% endif %}
					</td>
				</tr>
				{% endif %}
			{% endif %}
		</table>
		</td>
	</tr>
	<tr>
		<td class="layout_td layout_td_all" >
		<div class="main_content_title"><a name="BASIC">{{lang.VMSG_BASIC_CONFIG}}</a></div>
		<table class="info_table">
			<tr>
			<th>{{lang.VMSG_TENANTO_NAME}}&nbsp;:</th>
			<td><p>{{tenant}}</p></td>
			</tr>
			<tr>
			<th>{{lang.VMSG_CONTACT_MAILADDRESS}}&nbsp;:</th>
			<td>
				<div id="FIELD_contact_mail_address" class="field" ></div>
				<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_CONTACT_MAILADDRESS}}</font></p>
				</td>
			</tr>
			<tr>
			<th>{{lang.VMSG_TIMEZONE}}&nbsp;:&nbsp;<font color="red">*</font></th>
			<td>
				<div id="FIELD_timezone" class="field" ></div>
				<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_TIMEZONE|safe}}</font></p>
				</td>
			</tr>
			<tr>
			<th>{{lang.VMSG_LANGUAGE}}&nbsp;:&nbsp;<font color="red">*</font></th>
			<td>
				<div id="FIELD_language" class="field" ></div>
				<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_LANGUAGE}}</font></p>
				</td>
			</tr>
			<tr>
			<th>{{lang.VMSG_FILEENCODING}}&nbsp;:&nbsp;<font color="red">*</font></th>
			<td>
				<div id="FIELD_file_encoding" class="field" ></div>
				<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_FILEENCODING|safe}}</font></p>
				</td>
			</tr>
			<tr>
			<th>{{lang.VMSG_USERNAME_DISPTYPE|safe}}&nbsp;:</th>
			<td>
				<div id="FIELD_username_disp_type" class="field" ></div>
				<p><font color="#696969"></font></p>
				</td>
			</tr>
		</table>
		</td>
	</tr>

	<tr style="display: none;">
		<td class="layout_td layout_td_all" >
			<div class="section_area_title main_content_title" section_show_hide_area_id="AREA_loginpage_config" style="cursor:pointer;">
				<a name="LOGINPAGE">{{lang.VMSG_LOGINPAGE_CONFIG|safe}}</a><img class="section_arrow_img" />
			</div>
			<p style="padding-left:15px;"><font color="#696969">{{lang.EXP_DASHBOARD_LOGINPAGE|safe}}</font></p>
			<table class="info_table" id="AREA_loginpage_config" >
			{% if not FREE_MODE: -%}
			<tr>
				<th>{{lang.FLD_IS_DISP_LOGIN_CUSTOM_LOGO|safe}}&nbsp;:</th>
				<td>
					<div id="FIELD_is_disp_login_custom_logo" class="field style3" ></div>
					<p><font color="#696969">{{lang.VMSG_MSG_IS_DISP_LOGIN_CUSTOM_LOGO|safe}}</font></p>
				</td>
			</tr>
			<tr>
				<th>{{lang.VMSG_LOGINPAGE_BACKGROUND_PICTURE}}&nbsp;:</th>
				<td><p><a href="{{vurl}}config/bgupload" target="_blank" >{{lang.LINK_DISP_UPLOAD_BACKGROUND_PICTURE|safe}}</a></p></td>
			</tr>
			<tr>
				<th>{{lang.VMSG_LOGINPAGE_MESSAGE}}&nbsp;:</th>
				<td>
					<div id="FIELD_login_message" class="field" ></div>
					<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_LOGINPAGE_MESSAGE}}</font></p>
				</td>
			</tr>
			<tr>
				<th>{{lang.VMSG_LOGINPAGE_COLOR}}&nbsp;:</th>
				<td>
					<table border="0">
						<tr>
							<td class="style3" >{{lang.VMSG_LOGINPAGE_FONTCOLOR}}&nbsp;:</td>
							<td><div id="FIELD_login_fontcolor" class="field" ></div></td>
							<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="black"><b>FFFFFF</b></font>）</td>
							<td class="style3" >{{lang.VMSG_LOGINPAGE_LINKCOLOR}}&nbsp;:</td>
							<td><div id="FIELD_login_linkcolor" class="field" ></div></td>
							<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="black"><b>FFFFFF</b></font>）</td>
						</tr>
						<tr>
							<td class="style3" >{{lang.VMSG_LOGINPAGE_MESSAGECOLOR}}&nbsp;:</td>
							<td><div id="FIELD_login_messagecolor" class="field" ></div></td>
							<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="black"><b>FFFFFF</b></font>）</td>
							<td class="style3" >{{lang.VMSG_LOGINPAGE_VCCOLOR}}&nbsp;:</td>
							<td><div id="FIELD_login_vccolor" class="field" ></div></td>
							<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="#FF0000"><b>FF0000</b></font>）</td>
						</tr>
						<tr>
							<td colspan="6">
							<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_LOGINPAGE_FONTCOLOR|safe}}</font></p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<th>{{lang.VMSG_LOGINPAGE_COLOR_SP}}&nbsp;:</th>
				<td>
					<table border="0">
						<tr>
						<td class="style3" >{{lang.VMSG_LOGINPAGE_FONTCOLOR_SP}}&nbsp;:</td>
						<td><div id="FIELD_login_fontcolor_sp" class="field" ></div></td>
						<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="black"><b>FFFFFF</b></font>）</td>
						<td class="style3" >{{lang.VMSG_LOGINPAGE_LINKCOLOR_SP}}&nbsp;:</td>
						<td><div id="FIELD_login_linkcolor_sp" class="field" ></div></td>
						<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="black"><b>FFFFFF</b></font>）</td>
						</tr>
						<tr>
						<td class="style3" >{{lang.VMSG_LOGINPAGE_MESSAGECOLOR_SP}}&nbsp;:</td>
						<td><div id="FIELD_login_messagecolor_sp" class="field" ></div></td>
						<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="#003366"><b>003366</b></font>）</td>
						<td class="style3" >{{lang.VMSG_LOGINPAGE_VCCOLOR_SP}}&nbsp;:</td>
						<td><div id="FIELD_login_vccolor_sp" class="field" ></div></td>
						<td class="style3" >&nbsp;{{lang.VMSG_DEFAULT_VALUE}}（<font color="#FF0000"><b>FF0000</b></font>）</td>
						</tr>
						<tr>
						<td colspan="6">
						<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_LOGINPAGE_FONTCOLOR_SP|safe}}</font></p>
						</td>
						</tr>
					</table>
				</td>
			</tr>
			{%- endif %}
			<tr>
				<th>{{lang.VMSG_LOGINPAGE_AUTOCOMPLETE_TYPE|safe}}&nbsp;:</th>
				<td>
					<div id="FIELD_login_autocomplete_type" class="field" ></div>
					<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_LOGINPAGE_AUTOCOMPLETE_TYPE|safe}}</font></p>
				</td>
			</tr>
			<tr>
				<th>{{lang.FLD_IS_DISP_LOGIN_LANGUAGE_COMBOBOX|safe}}&nbsp;:</th>
				<td>
					<div id="FIELD_is_disp_login_language_combobox" class="field style3" ></div>
					<p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_IS_DISP_LOGIN_LANGUAGE_COMBOBOX|safe}}</font></p>
					</div>
				</td>
			</tr>
			</table>
		</td>
	</tr>

	<tr>
		<td class="layout_td" align="center" >
			<table align="center">
				<tr>
					<td>
						<div id="btnUpdate" ></div>
					</td>
					<td>
						&nbsp;&nbsp;
					</td>
					<td>
						<div id="btnReset" ></div>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>
</div>
<!-- rightArea innerArea//end -->

<!-- rightArea innerArea//start -->
<div class="innerArea01">
	<span class="span_icon"><img src="/images/icons/setting_32.png"></span>
	<p class="ttl"><a name="BOTCONFIG">{{lang.VMSG_BOT_CONFIG}}</a></p>
	<table class="acs_layout">

<!-- START LINE WORKS API -->
	<tr>
		<td class="layout_td layout_td_all" >
			<div class="section_area_title main_content_title2" section_show_hide_area_id="AREA_LineworksAPI_config" style="cursor:pointer;" init_display="show">
				{{lang.LINEWORKSAPI_CONFIG|safe}}<img class="section_arrow_img" />
			</div>
			<span class="section_description" style="font-size:13px; padding-left:2px;">{{lang.EXP_LINEWORKSAPI_CONFIG1|safe}}</span>
			<table class="detail">
				<tr>
					<td>
						<div><img src="/images/share/space.gif" width="10" height="1" border="0"></div>
						<form id="frmLineworksEdit" name="frmLineworksEdit" method="POST"  action="#" >
							<input type="hidden" name="token" value="{{ ucfp.data.token }}">
							<input type="hidden" name="channel_config" value="{{ lineworks_config.channel_config }}">
							<input type="hidden" name="unique_channel_id" value="{{ lineworks_config.unique_id }}">
							<input type="hidden" name="channel_kind" value="lineworksbot">

							<table border="0" width="100%" cellpadding="2" cellspacing="2" class="detail2">
								<!--  regist  -->
								<tr>
									<td colspan="4">
										<table class="info_table" id="AREA_LineworksAPI_config">
											<tr>
												<td colspan="4">
													<div id="panel_area_lineworksbot" style="margin-left: 8px;margin-top: -10px;"></div>
												</td>
											</tr>
											<tr>
												<th></th>
												<td>
													<div id="btnLineWorksUpdate" style="margin-left: 183px;"></div>
												</td>
											</tr>
										</table>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
<!-- END LINE WORKS API -->

	</table>
</div>
<!-- rightArea innerArea//end -->

<!-- rightArea innerArea//start -->
<div class="innerArea01">
	<span class="span_icon"><img src="/images/icons/setting_32.png"></span>
	<p class="ttl"><a name="FILESERVERCONFIG">{{lang.VMSG_FILE_SERVER_CONFIG}}</a></p>
	<table class="acs_layout">

<!-- START DIRECT CLOUD BOX API -->
	<tr>
		<td class="layout_td layout_td_all" >
			<input type="radio" name="file_server" value="directcloudbox" style="margin-left: -10px;">
			<div style="display: inline-block !important;" class="section_area_title main_content_title2" section_show_hide_area_id="AREA_DirectCloudBox_config" style="cursor:pointer;" init_display="show">
				DirectCloudBox<img class="section_arrow_img" />
			</div><br>
			<span class="section_description" style="font-size:13px; padding-left:10px;">{{lang.EXP_DIRECTCLOUDBOX_CONFIG|safe}}</span>
			<table class="detail">
				<tr>
					<td>
						<div><img src="/images/share/space.gif" width="10" height="1" border="0"></div>
						<form id="frmDirectCloudBoxEdit" name="frmDirectCloudBoxEdit" method="POST"  action="#" >
							<input type="hidden" id="directcloudbox_unique_id" value="{{directcloudbox_config.unique_id}}">
							<table class="info_table" id="AREA_DirectCloudBox_config">
								<tr>
									<th class="th_title">{{lang.FLD_DIRECTCLOUDBOX_CODE|safe}}:</th>
									<td>
									<div id="FIELD_directcloudbox_code" class="field" ></div>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div><img src="/images/share/space.gif" width="10"height="5" border="0"></div>
									</td>
								</tr>
								<tr>
									<th class="th_title">{{lang.FLD_DIRECTCLOUDBOX_ID|safe}}:</th>
									<td>
									<div id="FIELD_directcloudbox_id" class="field" ></div>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div><img src="/images/share/space.gif" width="10"height="5" border="0"></div>
									</td>
								</tr>
								<tr>
									<th class="th_title">{{lang.FLD_DIRECTCLOUDBOX_PASSWORD|safe}}:</th>
									<td>
									<div id="FIELD_directcloudbox_password" class="field" ></div>
									</td>
								</tr>
								<tr>
									<td colspan="4">
										<div><img src="/images/share/space.gif" width="10"height="5" border="0"></div>
									</td>
								</tr>
								<tr>
									<th class="th_title"></th>
									<td>
									<div id="btnDirectCloudBox"></div>
									</td>
								</tr>
							</table>
						</form>
					</td>
				</tr>
			</table>
		</td>
	</tr>
<!-- END DIRECT CLOUD BOX API -->

	</table>
</div>
<!-- rightArea innerArea//end -->

<div class="innerArea01">
<br/><br/>

<a name="SETUPTEMPLATE"></a>
<span class="span_icon"><img src="/images/icons/setting_32.png"></span>
<p class="ttl">Setup Template</p>
<table class="detail_layout">
	<tr>
		<td>
			<p style="padding-left:15px;"><font color="#696969">{{lang.EXP_OPERATOR_CONFIG|safe}}</font></p>
			<div>
			<div>
			<table class="acs_layout">
			<!-- <tr>
				<td class="layout_td layout_td_all2" >
				<div class="main_content_title2" style="text-align:left">{{lang.VMSG_SEARCH}}</div>
				<form onsubmit="JavaScript:search();return false;" >
					<div class="search_table">
					<div class="filter-cmp">
						<div class="text-feild item-filter mrg-0">
						<div class="form-group mh31px">
							<label for="">{{lang.SEARCH_CONDITION}} </label>
							<div id="FIELD_sk_search_type" class="select-cmp input-cmp small-input"></div>
						</div>
						</div>

						<div class="text-feild item-filter">
						<div class="form-group act-filter mgt-0" style="margin-top: 5px !important;">
							<div id="FIELD_sk_keyword" class="input-cmp"></div>
							<div id="btnSearch"></div>
						</div>
						</div>
					</div>
					</div>
				</form>
				</td>
			</tr>
				<tr class="space" >
					<td><img src="/images/spacer.gif" alt="" /></td>
				</tr> -->
			<tr>
				<td class="layout_td layout_td_all" >
						<div id="SetupTemplateGridList"></div>
				</td>
			</tr>
			</table>
			</div>
			</div>
		</td>
	</tr>
</table>
</div>

<!-- rightArea innerArea//start -->
<div class="innerArea01">
<br/><br/>

<a name="OPERATOR"></a>
<span class="span_icon"><img src="/images/icons/operator_32.png"></span>
<p class="ttl">{{lang.VMSG_OPERATOR_CONFIG}}</p>
<table class="detail_layout">
	<tr>
		<td>
			<p style="padding-left:15px;"><font color="#696969">{{lang.EXP_OPERATOR_CONFIG|safe}}</font></p>
			<div>
			<!-- rightArea innerArea//start -->
			<div>
			<table class="acs_layout">
			<tr>
				<td class="layout_td layout_td_all2" >
				<div class="main_content_title2" style="text-align:left">{{lang.VMSG_SEARCH}}</div>
				<form onsubmit="JavaScript:search();return false;" >
			<div class="search_table">
			<div class="filter-cmp">
				<div class="text-feild item-filter mrg-0">
				<div class="form-group mh31px">
					<label for="">{{lang.SEARCH_CONDITION}} </label>
					<div id="FIELD_sk_search_type" class="select-cmp input-cmp small-input"></div>
				</div>
				</div>

				<div class="text-feild item-filter">
				<div class="form-group act-filter mgt-0" style="margin-top: 5px !important;">
					<div id="FIELD_sk_keyword" class="input-cmp"></div>
					<div id="btnSearch"></div>
				</div>
				</div>
			</div>
			</div>
				</form>
				</td>
			</tr>
				<tr class="space" >
					<td><img src="/images/spacer.gif" alt="" /></td>
				</tr>
			<tr>
				<td class="layout_td layout_td_all" >
						<div id="SupervisorGridList"></div>
				</td>
			</tr>
			</table>
			</div>
			</div>
		</td>
	</tr>
</table>
</div>
<!-- rightArea innerArea//end -->

<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>

<!-- rightArea contentsL//start -->
</div>
<!-- rightArea//end -->
{% include "./include/footer.html" %}
<div class="clear"></div>
</div>
<!-- mainArea//end -->
</div>
<!-- contentsArea//end -->
</body>
</html>
