<!DOCTYPE html>
<html>
<head>
{% include "./include/headparts_bing.html" %}
<!-- <title>{{lang.VMSG_SITE_TITLE_PASSWORD_CHANGE}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
<title>{{lang.VMSG_SITE_TITLE_PASSWORD_CHANGE}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
{% include "./include/external_analysis_head.html" %}
<script type="text/javascript"> 
{% if is_hide_backstretch: %}
	_is_hide_blind = true;
{% endif %}
	_is_fullscreen = true;

	function submitToBack(){
		$('#toback_form').submit();
	}
</script>
</head>
<body>
<div id="wrapper">

{% include "./include/header_bing.html" %}

<div id="mypagebox" class="changepassword">
<h2><span class="img"><img src="/images/mypage/ic_changepassword.png" alt=""></span><em><span class="ttl">{{lang.VMSG_PERSONAL_PASSWORDCHANGE}}</span>
<span class="info"></span></em></h2>

<p class="attention2">
{{lang.VMSG_INFO_PASSWORD_CHANGED}}
</p>

{% if ucfp.data.RURL != '': %}
{% if ucfp.data.is_post != True: %}
<a href="{{ucfp.data.RURL}}" class="btn_left" >{{lang.VMSG_ORIGINAL_RURL|safe}}</a>
{% else: %}
<a href="JavaScript:submitToBack();" class="btn_left" >{{lang.VMSG_ORIGINAL_RURL|safe}}</a>
{% endif %}
{% else: %}
<a href="{{vurl|safe}}personal/" class="btn_left" >{{lang.VMSG_TO_PERSONAL|safe}}</a>
{% endif %}

{% if 'ADMIN' in login.access_authority: %}
<a href="{{vurl}}" class="btn_right">{{lang.VMSG_TO_DASHBOARD}}</a>
{% endif %}
</div><!-- /#mypagebox end -->

{% include "./include/footer_bing.html" %}
</div><!-- /#wrapper end -->
<form id="toback_form" name="toback_form" action="{{ucfp.data.RURL}}" method="POST" >
{% for toback_post in ucfp.data.toback_posts:%}
<input type="hidden" name="{{toback_post.name}}" value="{{toback_post.value}}" >
{% endfor%}
</form> 
</body>
</html>
