<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
	{% include "./include/headparts.html" %}
	{% include "./include/headparts2.html" %}
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_task.js?{{version|safe}}"></script>
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_operationlog.js?{{version|safe}}"></script>
	<!-- <title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
	<title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
	<script type="text/javascript">
		var each_page_cnt = 20;
		var store;

		// ログテキストの詳細を表示
		function dispLogTextDetail(unique_id) {
			var record = store.getById(unique_id);
			Ext.ucf.operationlog.dispLogTextDetail(record);
		}

		function getSearchBaseParam(scond) {
			var start = 0;
			// 検索条件を上書き（画面に反映するためparamsではなく画面項目を上書き）
			if (scond) {
				start = parseInt(scond['start'], 0);
				Ext.getCmp('id_sk_operation').setValue(Ext.ucf.nvl(scond['sk_operation']));
			}

			var params = {
				start: start, limit: each_page_cnt
				, sk_operation: Ext.ucf.getElementValue('sk_operation')
			};

			return params;
		}
	</script>
	<script type="text/javascript">
		var currentSheet = null;
		var tryChooseFile = false;
		function createSelectSheetComboBox(){
			// if(tryChooseFile){
			// 	Ext.getCmp('select_sheet1').destroy();
			// }
			var type_msteams_proudct_bot = [];      
			
			var field_sk_search_type = Ext.ucf.field.createComboBox('select_sheet1', 'sheet', type_msteams_proudct_bot, 'シート選択', 'Select a sheet', 150, null);
			field_sk_search_type.render('select_sheet');
			field_sk_search_type.addListener('change', function(){
				currentSheet = Ext.getCmp('select_sheet1').value;
				$(".tbcus").addClass("d-none");
				$("#table_question"+currentSheet).removeClass("d-none")
			});
			
		}

		var loading = new Ext.LoadMask(Ext.getBody(), {msg:"Please wait..."});
		Ext.onReady(function () {
			Ext.QuickTips.init();
			Ext.ucf.init();

			
			createSelectSheetComboBox()
			new Ext.Button({
				text: 'Add More',
				handler: function(){
					if(currentSheet == null){
						Ext.Msg.alert("Notice", "テンプレートファイルアップロード");
					}
					$("#table_question"+currentSheet).append(`<tr class="tcus">
											<th class="tcus">
												<input type="text" placeholder="あなたの性別は？" class="inputtextcs">
											</th>
											<th class="tcus">
												<input type="text" class="inputtextcs" placeholder="C7">
											</th>
											<th class="tcus">
												<input type="text" class="inputtextcs" placeholder="必須">
											</th>
											<th class="tcus">
												<input type="text" class="inputtextcs">
											</th>
											<th class="tcus">
												<input type="text" class="inputtextcs">
											</th>
										</tr>`);
				}
			}).render('button-add-more');// where you want to render
		})
		
		function errFile(){
			loading.hide();
			document.getElementById("file-info").innerText = "";
			Ext.Msg.alert("Notice", "File error or is not supported. Please choose a valid file and try again !");
			Ext.getCmp('select_sheet1').store.loadData([]);
			Ext.getCmp('select_sheet1').reset()
		}
		function onchangefile(){
			if(!tryChooseFile){
				tryChooseFile = true;
			}
			loading.show();

			var file = document.getElementById('file_template').files[0];
			if(typeof file == 'undefined') return;

			var formExcel = new FormData();
			formExcel.append("file", file);

			fetch('{{vurl|safe}}get_template', {
				method: "post",
				body: formExcel
			})
			.then(resp => {
				loading.hide();
				return resp.json();
			}).then(res => {
				if(!res.status){
					errFile();
					return;
				}
				var sheets = [];
				res.data.forEach((element, index) => {
					sheets.push([index, element]);
				});
				Ext.getCmp('select_sheet1').store.loadData(sheets);
				Ext.getCmp('select_sheet1').setValue(0)
				currentSheet = 0;
				document.getElementById("file-info").innerText = file.name + " - " + file.size/1000 + "kB";

				renderTable(sheets);
			}).catch(function(){
				errFile();
			})
		}

		function renderTable(sheets){
			currentSheet = 0;
			$("#table_sheet").html(``);
			sheets.forEach((element, index) => {
				$("#table_sheet").append(`<table class="tbcus ${index == 0 ? '': 'd-none'}" id="table_question${index}">
											{% include "./template_table.html" %}
											</table>`);
			});
		}
	</script>
	{% include "./include/external_analysis_head.html" %}
</head>

<body>
	<!-- contentsArea//start -->
	<div id="contentsArea">
		{% include "./include/header.html" %}
		<!-- mainArea//start -->
		<div id="mainArea" class="{{leftmenu_class}}">
			{% include "./include/index_leftmenu.html" %}
			<!-- rightArea//start -->
			<div id="rightArea">
				{% include "./include/attention.html" %}
				{% include "./include/explain.html" %}

				<!-- rightArea contentsL//start -->
				<div class="contentsL">
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<!-- rightArea innerArea//start -->
					<div class="innerArea01" style="min-height: 70vh;">
						<p class="ttl">Add Template</p>
						<table class="acs_layout">
							<tr>
								<td class="layout_td layout_td_all2">
									<p style="text-align: left;"><b>テンプレートファイルアップロード</b></p>
									<div style="text-align: left;">
										<div style="width: 100px;">
											<label for="file_template">
												<div style="width: 100px;
												height: 100px;
												display: flex;
												align-items: center;
												justify-content: center;
												border-radius: 5px;
												border: 1px solid #bbbbbb;
												cursor: pointer;
												margin-left: 8px;">
													<img src="/images/microsoft-excel.png" alt="">
												</div>
											</label>
										</div>
										<p id="file-info"></p>
										<input onchange="onchangefile()" style="display: none;" type="file" name="file_template" id="file_template" accept=".xlsx, .xls, .csv">
									</div>
									<!-- <div id="select_sheet"></div> -->
									<label for=""></label>
									<div id="select_sheet" style="margin-left: 10px;"></div>
									<!-- <p><font color="#696969">{{lang.VMSG_MSG_CONFIG_ABOUT_TIMEZONE|safe}}</font></p> -->
								</td>
							</tr>
							<tr class="space">
								<td><img src="/images/spacer.gif" alt="" /></td>
							</tr>
							<tr>
								<td class="layout_td layout_td_all">
									<div id="table_sheet">
										
									</div>
									  <div id="button-add-more"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- rightArea innerArea//end -->
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
				</div>
				<!-- rightArea contentsL//start -->
			</div>
			<!-- rightArea//end -->
			{% include "./include/footer.html" %}
			<div class="clear"></div>
		</div>
		<!-- mainArea//end -->
	</div>
	<!-- contentsArea//end -->
</body>

</html>