<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
	{% include "./include/headparts.html" %}
	{% include "./include/headparts2.html" %}
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_task.js?{{version|safe}}"></script>
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_operationlog.js?{{version|safe}}"></script>
	<!-- <title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
	<title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
	<script type="text/javascript">
		var each_page_cnt = 20;
		var store;

		// ログテキストの詳細を表示
		function dispLogTextDetail(unique_id) {
			var record = store.getById(unique_id);
			Ext.ucf.operationlog.dispLogTextDetail(record);
		}

		function getSearchBaseParam(scond) {
			var start = 0;
			// 検索条件を上書き（画面に反映するためparamsではなく画面項目を上書き）
			if (scond) {
				start = parseInt(scond['start'], 0);
				Ext.getCmp('id_sk_operation').setValue(Ext.ucf.nvl(scond['sk_operation']));
			}

			var params = {
				start: start, limit: each_page_cnt
				, sk_operation: Ext.ucf.getElementValue('sk_operation')
			};

			return params;
		}
	</script>
	<script type="text/javascript">
		var currentSheet = null;
		var tryChooseFile = false;
		var gSheets = [];
		var fileBlobKey = null;

		function createSelectSheetComboBox(){
			// if(tryChooseFile){
			// 	Ext.getCmp('select_sheet1').destroy();
			// }
			var type_msteams_proudct_bot = [];      
			
			var field_sk_search_type = Ext.ucf.field.createComboBox('select_sheet1', 'sheet', type_msteams_proudct_bot, 'シート選択', 'Select a sheet', 150, null);
			field_sk_search_type.render('select_sheet');
			field_sk_search_type.addListener('select', function(){
				currentSheet = Ext.getCmp('select_sheet1').value;
				$(".tbcus").addClass("d-none");
				$(".label-tbl").addClass("d-none");
				$("#table_question"+currentSheet).removeClass("d-none")
				$("#label_question"+currentSheet).removeClass("d-none")
			});
		}
		

		var loading = new Ext.LoadMask(Ext.getBody(), {msg:"Please wait..."});
		Ext.onReady(function () {
			Ext.QuickTips.init();
			Ext.ucf.init();

		var btnReset = new Ext.Button({
			text:'&nbsp;&nbsp;&nbsp;&nbsp;Submit&nbsp;&nbsp;&nbsp;&nbsp;',
			handler:function(){
				var dataTable = [];
				var file = document.getElementById('file_template').files[0];
				if(fileBlobKey === null){
					Ext.Msg.alert("Notice", "テンプレートファイルアップロード");
					return;
				}
				var reduceData = [];
				gSheets.forEach(element => {
					if(!(element[0] in dataTable)){
						dataTable[element[0]] = [];
					}

					$(`#table_question${element[0]} input[name^="question"]`).each(function() {
						if(!('question' in dataTable[element[0]])){
							dataTable[element[0]]['question'] = [];
						}
						dataTable[element[0]]['question'].push($(this).val());
					});
					$(`#table_question${element[0]} input[name^="location"]`).each(function() {
						if(!('location' in dataTable[element[0]])){
							dataTable[element[0]]['location'] = [];
						}
						dataTable[element[0]]['location'].push($(this).val());
					});
					$(`#table_question${element[0]} select[name^="require"]`).each(function() {
						if(!('require' in dataTable[element[0]])){
							dataTable[element[0]]['require'] = [];
						}
						dataTable[element[0]]['require'].push($(this).val());
					});
					$(`#table_question${element[0]} input[name^="value"]`).each(function() {
						if(!('value' in dataTable[element[0]])){
							dataTable[element[0]]['value'] = [];
						}
						dataTable[element[0]]['value'].push($(this).val());
					});
					$(`#table_question${element[0]} input[name^="default"]`).each(function() {
						if(!('default' in dataTable[element[0]])){
							dataTable[element[0]]['default'] = [];
						}
						dataTable[element[0]]['default'].push($(this).val());
					});

					reduceData.push({question: dataTable[element[0]].question, location: dataTable[element[0]].location, default: dataTable[element[0]].default, require: dataTable[element[0]].require, value: dataTable[element[0]].value})
				});
				
				var frmData = new FormData();
				frmData.append("sheet", JSON.stringify(reduceData));
				frmData.append("file", fileBlobKey);
				frmData.append("filename", file.name);
				frmData.append("sheetName", JSON.stringify(gSheets))
				console.log(gSheets)
				loading.show();
				fetch('{{vurl|safe}}submit_template', {
					method: "post",
					body: frmData
				})
				.then(resp => {
					loading.hide();
					return resp.json();
				}).then(res=>{
					loading.hide();
					if(res.status){
						Ext.Msg.alert("Notice", "Sucessfully", function(btn, text){
							if (btn == 'ok'){
								window.location.href = '{{vurl|safe}}#SETUPTEMPLATE'
							}
						});
					}else{
						Ext.Msg.alert("Notice", "Something went wrong !");
					}
				}).catch(function(e){
					loading.hide();
					Ext.Msg.alert("Notice", "Something went wrong !");
				})
			}
		});
		
		btnReset.render(Ext.get('btnReset'));

			createSelectSheetComboBox()
			new Ext.Button({
				text: 'Add More',
				handler: function(){
					if(currentSheet == null){
						Ext.Msg.alert("Notice", "テンプレートファイルアップロード");
					}
					$("#table_question"+currentSheet).append(`{% include "./template_table_tr.html" %}`);
				}
			}).render('button-add-more');// where you want to render
		})
		
		function errFile(){
			loading.hide();
			document.getElementById("file-info").innerText = "";
			Ext.Msg.alert("Notice", "File error or is not supported. Please choose a valid file and try again !");
			Ext.getCmp('select_sheet1').store.loadData([]);
			Ext.getCmp('select_sheet1').reset()
		}

		function getBlobLink(){
			return new Promise((resolve, reject)=>{
				fetch('{{vurl|safe}}get_blob_link', {
					method: "get"
				}).then(resp => {
					return resp.json();
				}).then(res=>{
					resolve(res);
				}).catch(e=>reject(e));
			})
		}

		function getSheets(formExcel, fileInfo){
			return new Promise((resolve, reject)=>{
				fetch('{{vurl|safe}}get_template', {
					method: "post",
					body: formExcel
				})
				.then(resp => {
					return resp.json();
				}).then(res => {
					if(!res.status){
						errFile();
						reject();
						return;
					}
					var sheets = [];
					res.data.forEach((element, index) => {
						sheets.push([index, element]);
					});
					gSheets = sheets;
					Ext.getCmp('select_sheet1').store.loadData(sheets);
					Ext.getCmp('select_sheet1').setValue(0);
					currentSheet = 0;
					$("#file-info").html(fileInfo);

					renderTable(sheets);
					resolve();
				}).catch(function(e){
					console.log(e);
					errFile();
					reject();
				})
			})
		}
		
		async function onchangefile(){
			if(!tryChooseFile){
				tryChooseFile = true;
			}
			loading.show();

			var file = document.getElementById('file_template').files[0];
			if(typeof file == 'undefined') {
				fileBlobKey = null;
				return;
			}
			const fileInfo = file.name + " - " + file.size/1000 + "kB";

			var formExcel = new FormData();
			formExcel.append("file", file);

			await getBlobLink().then(res=>{
				fetch(res.url, {
					method: "post",
					body: formExcel
				}).then(resp => {
					return resp.text();
				}).then(res=>{
					
					fileBlobKey = res;
				})
			});
			await getSheets(formExcel, fileInfo);
			loading.hide();
		}

		function renderTable(sheets){
			currentSheet = 0;
			$("#table_sheet").html(``);
			sheets.forEach((element, index) => {
				$("#table_sheet").append(`	
											<p style="font-weight: bold;" class="label-tbl ${index == 0 ? '': 'd-none'}" id="label_question${index}">${element[1]}</p>
											<table class="tbcus ${index == 0 ? '': 'd-none'}" id="table_question${index}">
											{% include "./template_table.html" %}
											</table>`);
			});
		}
		
	</script>
	{% include "./include/external_analysis_head.html" %}
	
</head>

<body>
	<!-- contentsArea//start -->
	<div id="contentsArea">
		{% include "./include/header.html" %}
		<!-- mainArea//start -->
		<div id="mainArea" class="{{leftmenu_class}}">
			{% include "./include/index_leftmenu.html" %}
			<!-- rightArea//start -->
			<div id="rightArea">
				{% include "./include/attention.html" %}
				{% include "./include/explain.html" %}

				<!-- rightArea contentsL//start -->
				<div class="contentsL">
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<!-- rightArea innerArea//start -->
					<div class="innerArea01" style="min-height: 70vh;">
						<p class="ttl">Add Template</p>
						<table class="acs_layout">
							<tr>
								<td class="layout_td layout_td_all2">
									<div class="d-flex">
										<div style="width: 20%;">
											<p style="text-align: left;"><b>テンプレートファイルアップロード</b></p>
											<div style="text-align: left;">
												<div style="width: 100px;">
													<label for="file_template">
														<div style="width: 100px;
														height: 100px;
														display: flex;
														align-items: center;
														justify-content: center;
														border-radius: 5px;
														border: 1px solid #bbbbbb;
														cursor: pointer;
														margin-left: 8px;">
															<img src="/images/microsoft-excel.png" alt="">
														</div>
													</label>
												</div>
												<p id="file-info"></p>
												<input onchange="onchangefile()" style="display: none;" type="file" name="file_template" id="file_template" accept=".xlsx, .xls, .csv">
											</div>
											
											<!-- <div id="select_sheet"></div> -->
											<label for=""></label>
											<div id="select_sheet" style="margin-left: 8px; margin-bottom: 5px;"></div>
										</div>
										<div style="width: 80%;" id="iframe">
											
										</div>
									</div>
								</td>
							</tr>
							<tr class="space">
								<td><img src="/images/spacer.gif" alt="" /></td>
							</tr>
							<tr>
								<td class="layout_td layout_td_all">
									<div id="table_sheet">
										
									</div>
									  <div id="button-add-more"></div>
								</td>
							</tr>
							<tr>
								<td class="text-center">
									<div id="btnReset" style="width: 70px;margin: 0 auto;"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- rightArea innerArea//end -->
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
				</div>
				<!-- rightArea contentsL//start -->
			</div>
			<!-- rightArea//end -->
			{% include "./include/footer.html" %}
			<div class="clear"></div>
		</div>
		<!-- mainArea//end -->
	</div>
	<!-- contentsArea//end -->
</body>

</html>