<!DOCTYPE html
	PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">

<head>
	{% include "./include/headparts.html" %}
	{% include "./include/headparts2.html" %}
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_task.js?{{version|safe}}"></script>
	<script type="text/javascript" src="{{vscripturl|safe}}ucfext_operationlog.js?{{version|safe}}"></script>
	<!-- <title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title> -->
	<title>{{lang.VMSG_SITE_TITLE_OPERATIONLOG|safe}} - {{lang.FILEUP_HTML_TITLE|safe}}</title>
	<script type="text/javascript">
		var each_page_cnt = 20;
		var store;

		// ログテキストの詳細を表示
		function dispLogTextDetail(unique_id) {
			var record = store.getById(unique_id);
			Ext.ucf.operationlog.dispLogTextDetail(record);
		}

		function getSearchBaseParam(scond) {
			var start = 0;
			// 検索条件を上書き（画面に反映するためparamsではなく画面項目を上書き）
			if (scond) {
				start = parseInt(scond['start'], 0);
				Ext.getCmp('id_sk_operation').setValue(Ext.ucf.nvl(scond['sk_operation']));
			}

			var params = {
				start: start, limit: each_page_cnt
				, sk_operation: Ext.ucf.getElementValue('sk_operation')
			};

			return params;
		}
	</script>
	<script type="text/javascript">
		Ext.onReady(function () {
			Ext.QuickTips.init();
			Ext.ucf.init();


			store = new Ext.data.Store({
				reader: new Ext.data.JsonReader({
					idProperty: 'unique_id'
					, root: 'records'
					, totalProperty: 'all_count'
				}, Ext.ucf.operationlog.createOperationLogRecord()),
				url: '{{vurl|safe}}operationlog/xtlist',
				autoDestroy: true
			});
			// Storeのロード後のイベントハンドラを追加
			store.on('load', function (s, records, options) {
				Ext.Ajax.request({ url: '{{vurl|safe}}xtsetscond?{{config.REQUESTKEY_SESSION_SCID|safe}}={{config.SESSIONKEY_SCOND_OPERATIONLOG|safe|escapejs}}', method: 'POST', params: options.params, failure: function (response) { Ext.ucf.dispSysErrMsg(); } }); 	// 検索条件をセット
			});
			

			var cm = new Ext.grid.ColumnModel({
				columns: [
					{
						header: '{{lang.FLD_OPERATIONLOG_OPERATION_DATE|safe|escapejs}}',
						width: 80,
					}, {
						header: '{{lang.FLD_OPERATIONLOG_OPERATION|safe|escapejs}}',
						width: 80,
					}, {
						header: '{{lang.FLD_OPERATIONLOG_TARGET_DATA|safe|escapejs}}',
						width: 100,
					}, {
						header: '{{lang.FLD_OPERATIONLOG_OPERATORID|safe|escapejs}}',
						width: 100,
					}, {
						header: '{{lang.FLD_OPERATIONLOG_CLIENT_IP|safe|escapejs}}',
						width: 70,
					}, {
						header: '{{lang.FLD_OPERATIONLOG_DETAIL|safe|escapejs}}',
						width: 25,
					}
				]
			});
			var grid = new Ext.grid.EditorGridPanel({

				store: store,
				//      width: 600,
				region: 'center',
				clicksToEdit: 1,
				columnLines: true,
				loadMask: true,
				viewConfig: { forceFit: true },
				//	        margins: '20 20 20 20',
				stripeRows: true,
				//			sm: sm,
				cm: cm
			});
			// パネルにユーザ一覧グリッドをセット
			var layout = new Ext.Panel({
				title: '{{lang.VMSG_OPERATIONLOG|safe|escapejs}}',
				layout: 'border',
				layoutConfig: {
					columns: 1
				},
				height: 600,
				items: [grid]
			});
			layout.render(Ext.get('GridList'));

		});

	</script>
	{% include "./include/external_analysis_head.html" %}
</head>

<body>
	<!-- contentsArea//start -->
	<div id="contentsArea">
		{% include "./include/header.html" %}
		<!-- mainArea//start -->
		<div id="mainArea" class="{{leftmenu_class}}">
			{% include "./include/index_leftmenu.html" %}
			<!-- rightArea//start -->
			<div id="rightArea">
				{% include "./include/attention.html" %}
				{% include "./include/explain.html" %}

				<!-- rightArea contentsL//start -->
				<div class="contentsL">
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<!-- rightArea innerArea//start -->
					<div class="innerArea01">
						<p class="ttl">Add Template</p>
						<table class="acs_layout">
							<!-- <tr>
								<td class="layout_td layout_td_all2">
									<div class="main_content_title2" style="text-align:left">{{lang.VMSG_SEARCH|safe}}
									</div>
									<form onsubmit="JavaScript:search();return false;">
										<div class="search_table">
											<div class="filter-cmp">
												<div class="text-feild item-filter">
													<div class="form-group act-filter">
														<label for="">{{lang.FLD_OPERATIONLOG_OPERATION}} </label>
														<div id="FIELD_sk_operation" class="select-cmp input-cmp"></div>
														<div id="btnSearch"></div>
													</div>
												</div>
											</div>
										</div>

									</form>

								</td>
							</tr> -->
							<tr class="space">
								<td><img src="/images/spacer.gif" alt="" /></td>
							</tr>
							<tr>
								<td class="layout_td layout_td_all">
									<div id="GridList"></div>
								</td>
							</tr>
						</table>
					</div>
					<!-- rightArea innerArea//end -->
					<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
					<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
				</div>
				<!-- rightArea contentsL//start -->
			</div>
			<!-- rightArea//end -->
			{% include "./include/footer.html" %}
			<div class="clear"></div>
		</div>
		<!-- mainArea//end -->
	</div>
	<!-- contentsArea//end -->
</body>

</html>