<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
{% include "./include/headparts.html" %}
{% include "./include/headparts2.html" %}
<title>{{lang.VMSG_SITE_TITLE_REMINDER}} - {{lang.HTML_TITLE}}</title>
<script type="text/javascript" >
<!--
function submitToBack(){
	document.toback_form.submit();
}
//-->
</script>
</head>
<body>
{% include "./include/header.html" %}
<!-- MainBox//start -->
<div class="MainBox">
<div class="area01">
<p class="style1">{{lang.VMSG_INFO_REMINDER}}</p>
<br/>
{% if ucfp.data.RURL != '': %}
{% if ucfp.data.is_post != True: %}
<p><a href="{{ucfp.data.RURL}}" >{{lang.VMSG_ORIGINAL_RURL}}</a></p>
{% else: %}
<p><a href="JavaScript:submitToBack();" >{{lang.VMSG_ORIGINAL_RURL}}</a></p>
{% endif %}
{% else: %}
<p><a href="{{vurl}}personal/" >{{lang.VMSG_TO_PERSONAL}}</a></p>
{% endif %}
</div>

</div>
<!-- MainBox//end -->
{% include "./include/footer.html" %}
<form id="toback_form" name="toback_form" action="{{ucfp.data.RURL}}" method="POST" >
{% for toback_post in ucfp.data.toback_posts:%}
<input type="hidden" name="{{toback_post.name}}" value="{{toback_post.value}}" >
{% endfor%}
</form> 
</body>
</html>
