{% if ucfp.data.attentions %}
<!-- rightArea attention//start -->
<div class="attention">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="innerArea">
{% for exp in ucfp.data.attentions %}
<p>{{exp|safe}}</p>
{% endfor %}
</div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- rightArea attentions//end -->
{% endif %}
