{% if ucfp.data.explains %}
<!-- rightArea explain//start -->
<div class="explain">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="innerArea">
{% for exp in ucfp.data.explains %}
<p>{{exp}}</p>
{% endfor %}
</div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- rightArea explain//end -->
{% endif %}
