<!-- header//start -->
<link rel="stylesheet" type="text/css" href="/css/jkheadmenu.css" />
<!--<script type="text/javascript" src="{{vscripturl}}jkmegamenu.js" > -->
<!--/***********************************************-->
<!--* jQuery Mega Menu- by JavaScript Kit (www.javascriptkit.com)-->
<!--* This notice must stay intact for usage-->
<!--* Visit JavaScript Kit at http://www.javascriptkit.com/ for full source code-->
<!--***********************************************/-->
<!--</script> -->
<!--<script type="text/javascript"> -->
<!--jkmegamenu.definemenu("headmenu_service", "submenu_service", "mouseover");-->
<!--</script> -->
<div id="header">
<div id="headerArea">
<img src="{{vurl}}picture/logo" height="44px" alt="Sateraito Office Project" border="0" />
<div class="hRnavi">
<p class="mail">
{{login.mail_address}}
</p>
<ul>
<li><a href="{{vurl}}personal/">{{lang.VMSG_PERSONAL}}</a></li>
<li>
{% if language == 'ja': %}
<a href="https://sites.google.com/a/sateraito.jp/sateraito-dounyuu/Home/fileup" target="_blank" >{{lang.VMSG_HELP}}</a>
{% else: %}
<a href="https://sites.google.com/a/sateraito.jp/sateraito-dounyuu/Home/fileup" target="_blank" >{{lang.VMSG_HELP}}</a>
{% endif %}
</li>
<li><a href="JavaScript:location.href='{{vurl}}logout';">{{lang.VMSG_LOGOUT}}</a></li>
</ul>
<p></p>
</div>
</div>
<!-- headerGnavi//start -->
<div id="headerGnavi">
<ul>
{% if 'ADMIN' in login.access_authority:%}
    <li class="panelOff {% if ucfp.data.gnaviid == 'DASHBOARD' %}current{% endif %} " ><a href="{{vurl}}">{{lang.VMSG_DASHBOARD}}</a></li>
{% elif 'OPERATOR' in login.access_authority: %}

{% endif %}
</ul>
<div class="clear"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- headerGnavi//end -->
</div>
<!-- header//end -->
