<!-- leftMenu//start -->
<div id="leftMenu">
<!-- leftMenu menu01//start -->
<div class="menu01">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<!-- leftMenu innerArea//start -->
<div class="innerArea">
<p class="ttl">{{lang.VMSG_BUSINESSRULE_CONFIG|safe}}</p>
<div class="folderMenu">
<ul>
<li class="{% if ucfp.data.leftmenuid == 'CREATE' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}businessrule/create" >{{lang.VMSG_BUSINESSRULE_CREATE|safe}}</a></li>
</ul>
</div>
</div>
<!-- leftMenu innerArea//end -->
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- leftMenu menu01//end -->
<!-- leftMenu menu02//start -->
<div class="menu02">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<!-- leftMenu innerArea//start -->
<div class="innerArea">
<p class="ttl">{{lang.VMSG_SHORTCUT|safe}}</p>
<div class="openbtnBox"><a href="JavaScript:Ext.ucf.changeLeftMenu();"><span class="arrowBtn"><img src="/images/spacer.gif" alt="" /></span></a></div>
<div class="folderMenu">
<ul>
<li class="{% if ucfp.data.leftmenuid == 'DASHBOARD' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}" >{{lang.VMSG_DASHBOARD|safe}}</a></li>
<li class="{% if ucfp.data.leftmenuid == 'USER' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}user/" >{{lang.VMSG_USER_CONFIG|safe}}</a></li>
<li class="{% if ucfp.data.leftmenuid == 'GROUP' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}group/" >{{lang.VMSG_GROUP_CONFIG|safe}}</a></li>
<li class="{% if ucfp.data.leftmenuid == 'BUSINESSRULE' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}businessrule/" >{{lang.VMSG_BUSINESSRULE_CONFIG|safe}}</a></li>
<li class="{% if ucfp.data.leftmenuid == 'LOGINHISTORY' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}acs/log" >{{lang.VMSG_LOGINHISTORY|safe}}</a></li>
{% if is_available_ssoclient_access_log and 'ADMIN' in login.access_authority: %}
<li class="{% if ucfp.data.leftmenuid == 'ACCESSPAGELOG' %}current open{% else %}close{% endif %}"><a href="{{vurl|safe}}acs/pagelog" >{{lang.VMSG_ACCESSPAGELOG|safe}}</a></li>
{% endif %}
{% if 'ADMIN' in login.access_authority: %}
<li class="{% if ucfp.data.leftmenuid == 'OPERATIONLOG' %}current open{% else %}close{% endif %}"><a href="{{vurl}}operationlog/" >{{lang.VMSG_OPERATIONLOG}}</a></li>
{% endif %}
</ul>
</div>

</div>
<!-- leftMenu innerArea//end -->

<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- leftMenu menu02//end -->

</div>
<!-- leftMenu//end -->
