<html>
<head>
{% include "./include/headparts.html" %}
<title>{{lang.VMSG_SITE_TITLE_DASHBOARD}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title>
</head>
<body>
{% include "./include/header.html" %}
<!-- MainBox//start -->
<div class="MainBox">
<div class="area01">
<table>
<tr>
  <td>{{lang.VMSG_TENANTO_NAME}}&nbsp;:</td>
  <td><p>{{tenant}}</p></td>
</tr>
<tr>
  <td>{{lang.VMSG_LANGUAGE}}&nbsp;:</td>
  <td><p>{{language_disp}}</p></td>
</tr>
<tr>
  <td>{{lang.VMSG_LOGIN_USERID}}&nbsp;:</td>
  <td><p>{{login.id}}{% if login.name and login.name != '' %}({{login.name}}){%endif%}</p></td>
</tr>
</table>
</div>
</div>
<!-- MainBox//end -->
{% include "./include/footer.html" %}
</body>
</html>
