<html>
<head>
{% include "./include/headparts.html" %}
<title>{{lang.VMSG_SITE_TITLE_PASSWORD_CHANGE}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title>
</head>
<body>
{% include "./include/header.html" %}
<!-- MainBox//start -->
<div class="MainBox">
<div class="area01">
<p class="style2">{{lang.VMSG_INFO_PASSWORD_CHANGED}}</p>
<br/>
{% if ucfp.data.RURL != '': %}
<p><a href="{{ucfp.data.RURL}}" >{{lang.VMSG_ORIGINAL_RURL}}</a></p>
{% endif %}
</div>
</div>
<!-- MainBox//end -->
{% include "./include/footer.html" %}
</body>
</html>
