<html>
<head>
<meta name="robots" content="noindex,nofollow,noarchive" />
{#
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=x-sjis" />
-#}
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=UTF-8" />

<title>{{lang.VMSG_SITE_TITLE_ERROR}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title>
</head>
<body>
<a name="top"></a>
<img src="{{vurl}}picture/logo" height="44px" border="0" />
<hr color="#0085ce">

<!-- MainBox//start -->
<div class="MainBox">

<div class="area01">
{% if error_info %}
<p class="style1"><font color="#FF0000">{{ error_info }}</font></p>
{% endif %}
<br />
<script type="text/javascript" >
<!--
if(history.length > 1){
	document.write('<a href="JavaScript:history.back(-1);" >{{lang.VMSG_BACK}}</a>');
}
//-->
</script>

</div>
</div>
<!-- MainBox//end -->
<hr color="#0085ce" />
{#
<div align="left">{{mini_pr|safe}}</div>
{% if show_upgrade_link: %}
<div align="left">
<a href="http://goo.gl/A2fmz" target="_blank" style="color:red;text-decoration:none;font-weight:bold;font-size:12px;margin:2px;">{{lang.MSG_UPGRADE}}</a>
</div>
{% endif %}
#}
<div align="right"><font color="#0085ce">▲</font><a href="{{vurl}}personal/">{{lang.VMSG_TO_PERSONAL}}</a>&nbsp;<font color="#0085ce">▲</font><a href="{{vurl}}logout">{{lang.VMSG_LOGOUT}}</a></div>
Copyright &copy; All rights reserved by Sateraito Office, Inc.


</body>
</html>
