<html>
<head>
<meta name="robots" content="noindex,nofollow,noarchive" />
{#
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=x-sjis" />
-#}
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=UTF-8" />

<title>{{lang.VMSG_SITE_TITLE_DASHBOARD}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title>
</head>
<body>
<a name="top"></a>
<img src="{{vurl}}picture/logo" height="44px" border="0" />
<hr color="#0085ce">

<!-- MainBox//start -->
<div class="MainBox">
<div class="area01">
<table>
<tr>
  <td>{{lang.VMSG_TENANTO_NAME}}&nbsp;:</td>
  <td><p>{{tenant}}</p></td>
</tr>
<tr>
  <td>{{lang.VMSG_LANGUAGE}}&nbsp;:</td>
  <td><p>{{language_disp}}</p></td>
</tr>
<tr>
  <td>{{lang.VMSG_LOGIN_USERID}}&nbsp;:</td>
  <td><p>{{login.id}}{% if login.name and login.name != '' %}({{login.name}}){%endif%}</p></td>
</tr>
</table>
</div>
</div>
<!-- MainBox//end -->
<hr color="#0085ce" />
{#
<div align="left">{{mini_pr|safe}}</div>
{% if show_upgrade_link: %}
<div align="left">
<a href="http://goo.gl/A2fmz" target="_blank" style="color:red;text-decoration:none;font-weight:bold;font-size:12px;margin:2px;">{{lang.MSG_UPGRADE}}</a>
</div>
{% endif %}
#}
<div align="right"><font color="#0085ce">▲</font><a href="{{vurl}}personal/">{{lang.VMSG_TO_PERSONAL}}</a>&nbsp;<font color="#0085ce">▲</font><a href="{{vurl}}logout">{{lang.VMSG_LOGOUT}}</a></div>
Copyright &copy; All rights reserved by Sateraito Office, Inc.


</body>
</html>
