<html>
<head>
<meta name="robots" content="noindex,nofollow,noarchive" />
{#
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=x-sjis" />
-#}
<meta HTTP-EQUIV="Content-Type" CONTENT="text/html;CHARSET=UTF-8" />

<title>{{lang.VMSG_SITE_TITLE_PASSWORD_CHANGE}} - {% if sp_code == 'worksmobile': %}{{lang.HTML_TITLE_WORKSMOBILE}}{%else:%}{{lang.HTML_TITLE}}{%endif%}</title>
</head>
<body>
<a name="top"></a>
<img src="{{vurl}}picture/logo" height="44px" border="0" />
<hr color="#0085ce">

<!-- MainBox//start -->
<div class="MainBox">
<div class="area01">
<form name="frmEdit" action="{{vurl}}personal/password/" method="POST" >
<input type="hidden" name="token" value="{{ucfp.data.token}}">
<input type="hidden" name="{{config.QSTRING_STATUS}}" value="{{config.VC_CHECK}}">
<input type="hidden" name="RURL" value="{{ucfp.data.RURL}}">
<table border="0" cellpadding="0" cellspacing="0" width="310">
<tr>
<td colspan="2" class="style1" height="20">{{lang.VMSG_DESCRIPTION3_PASSWORD_CHANGE}}</td>
</tr>
<tr>
<td colspan="2"><img src="/images/share/space.gif" height="5" border="0" alt=""></td>
</tr>
<tr>
<td class="style2" nowrap>{{lang.VMSG_INPUT_PASSWORD_CHANGE}}<font color="red" >*</font>&nbsp;</td>
<td>
<input type="password" name="Password1" value="{{ucfp.voinfo.vo.Password1}}" maxlength="50" size="15" />
{% if vcmsg.Password1 %}
<br>
{% for v in vcmsg.Password1 %}
<span class="text_validate"><font color="red">{{v}}</font></span>
{% endfor %}
{% endif %}
</td>
</tr>
<tr>
<td colspan="2"><img src="/images/share/space.gif" height="5" border="0" alt=""></td>
</tr>
<tr>
<td class="style2" nowrap>{{lang.VMSG_IPHONE_CONFIRM_PASSWORD_CHANGE}}<font color="red" >*</font>&nbsp;</td>
<td ><input type="password" name="PasswordConfirm" value="{{ucfp.voinfo.vo.PasswordConfirm}}" maxlength="50" size="15" />
{% if vcmsg.PasswordConfirm %}
<br>
{% for v in vcmsg.PasswordConfirm %}
<span class="text_validate"><font color="red">{{v}}</font></span>
{% endfor %}
{% endif %}
</td>
</tr>
<tr>
<td colspan="2"><img src="/images/share/space.gif" height="10" border="0" alt=""></td>
</tr>
<tr>
<td colspan="2" align="center"><input type="submit" width="104" height="41" border="0" value="{{lang.VMSG_UPDATE_PASSWORD}}" /></td>
</tr>
</table>
</form>
</div>

</div>
<!-- MainBox//end -->
<hr color="#0085ce" />
{#
<div align="left">{{mini_pr|safe}}</div>
{% if show_upgrade_link: %}
<div align="left">
<a href="http://goo.gl/A2fmz" target="_blank" style="color:red;text-decoration:none;font-weight:bold;font-size:12px;margin:2px;">{{lang.MSG_UPGRADE}}</a>
</div>
{% endif %}
#}
<div align="right"><font color="#0085ce">▲</font><a href="{{vurl}}personal/">{{lang.VMSG_TO_PERSONAL}}</a>&nbsp;<font color="#0085ce">▲</font><a href="{{vurl}}logout">{{lang.VMSG_LOGOUT}}</a></div>
Copyright &copy; All rights reserved by Sateraito Office, Inc.


</body>
</html>
