<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="ja" xml:lang="ja">
<head>
{% include "./include/headparts.html" %}
<title>管理エラー - {{lang.HTML_TITLE}}</title>
</head>
<body>
<!-- contentsArea//start -->
<div id="contentsArea">
{% include "./include/header.html" %}
<!-- mainArea//start -->
<div id="mainArea" class="off">
<!-- rightArea//start -->
<div id="rightArea">
<!-- rightArea contentsL//start -->
<div class="contentsL">
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<!-- rightArea innerArea//start -->
<div class="innerArea01">
<p>※エラーが発生しました。手順が正しくない可能性がありますので最初からやり直してみてください。</p>
</div>
<!-- rightArea innerArea//end -->
<div class="boxRound2"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound1"><img src="/images/spacer.gif" alt="" /></div>
<div class="boxRound0"><img src="/images/spacer.gif" alt="" /></div>
</div>
<!-- rightArea contentsL//start -->
</div>
<!-- rightArea//end -->
{% include "./include/footer.html" %}
<div class="clear"></div>
</div>
<!-- mainArea//end -->
</div>
<!-- contentsArea//end -->
</body>
</html>
